body {
    margin: 0;
    font-family: 'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
}


/*-------------------------------01.section-------------------------------*/

/*------------1.1 site-header------------*/

.site-header {
    position: fixed;
    top: 0;
    min-height: 50px;
    width: 100%;
    border-bottom: 1px solid #4d4d4d;
    background: #4d4d4d;
    opacity: .90;
    z-index: 100;
}

/*------------1.2 jumbotron------------*/
.jumbotron {
    background-image: url(../static/bg.jpg);
    position: relative;
    min-height: 600px;
    padding-top: 200px;
    margin-bottom: 0px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.intro {
    color: #fff;
}

.intro h1 {
    margin-bottom: 20px;
    font-size: 50px;

}

.button-try {
    position: absolute;
    width: 100%;
    height: 160px;
    background-image: url(../static/linebutton.svg);
    background-repeat: no-repeat;
    z-index: 5;
    background-position: center top;
   
    bottom: 0px;
}

.button-try .btn {
    padding-top: 12px;
    margin-top: 3px;	
    margin-left: 3px;
    border-radius: 10px;
    width: 169px;
    height: 50px;
    color: #fff;
    font-size: 18px;
     background-color:transparent;
}

.button-try .btn:hover {
    background: #fff;
    color: #00c4ab;
    opacity: 0.5;
}


/*------------1.2 features------------*/
.features {
    min-height: 800px;
    background-image: url(../static/linefeature.svg);
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 50px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}
.features .container{
    max-width: 1100px;
}

.features .feature {
    margin-bottom: 50px;
    margin-top: 50px;
}
.features .feature .feature-icon {
    background-image: url(../static/feature.png);
    height: 130px;
    width: 130px;
    background-size: 520px 130px;
    margin: 0 auto;
}
.featurea {
    padding-left: 0px;
    padding-right: 80px;
}
.featureb {
    padding-left: 80px;
    padding-right: 0px;
}
.featurec {
    padding-left: 0px;
    padding-right: 80px;
}
.featured {
    padding-left: 80px;
    padding-right: 0px;
}

.features .featureb .feature-icon {
    background-position: -130px 0;
}

.features .featurec .feature-icon {
    background-position: -260px 0;
}

.features .featured .feature-icon {
    background-position: -390px 0;
}

.features .feature h4 {
    color: #666666;
    margin: 25px 0 15px 0;
    font-size: 18px;
}
.features .feature span {
    color: gray;
    display: inline-block;
    max-width: 350px;
    font-size: 13px;
}


/*------------1.3 flow------------*/
.flow {
    background-image: url(../static/bg2.jpg);
    position: relative;
    height: 400px;
    background-size: 90px 400px;
    background-position: center top;
    overflow: hidden;
    background-repeat: no-repeat;
    padding-top: 150px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.flow-fill {
    position: absolute;
    background-color: #26d1b8;
    width: 100%;
    top: 29.5px;
    height: 370px;
    z-index: -5;
}

.flow h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}

.flow p {
    color: white;
    font-size: 15px;

}

/*------------1.4 flow-specs------------*/

.flow-specs .specs {
    line-height: 1.7;
}

.flow-specs .specs h2 {
    font-size: 25px;
    color: #00c4ab;
    margin-bottom: 15px;
}
.flow-specs .specs p {
    font-size: 13px;
    color: #9b9b9b;
}

.flow-specs .specs span {
    font-size: 16px;
    color: #9b9b9b;
}

.specs {
    padding: 160px 0 60px;
}

.specb {
    text-align: right;
}
.specc {
    text-align: right;
}

/*------------3.1.5 cooperation------------*/

.cooperation {
    min-height: 350px;
    padding-top: 70px;
    background: #fafafa;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
}

.cooperation h1 {
    color: #444;
    font-size: 28px;
    margin-bottom: 80px;
}

.co-dp {
    background-image: url(../static/dp.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;

}

.co-md {
    background-image: url(../static/md.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;
}

.co-qy {
    background-image: url(../static/qy.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;
}

.co-qb {
    background-image: url(../static/qb.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;
}

.co-ml {
    background-image: url(../static/ml.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;
}

.co-hh {
    background-image: url(../static//hh.png);
    height: 50px;
    width: 100px;
    background-size: 100px 50px;
    margin: 0 auto;
}

/*------------1.5 footer------------*/
.site-footer {
    background: #4d4d4d;
    color: #dadada;
    padding: 80px 0;
}

.site-footer .container {
    width: 600px;
}
.site-footer p {
    margin-top: 20px;
    color: #b4b4b4;
    font-size: 13px;
}

/*-------------------------------02.general-------------------------------*/


.text-center {
    text-align: center;    
}
.container {
    margin: 0 auto;
}






/*-------------------------------03.responsive-------------------------------*/
/*------------1.1 bg@features------------*/

@media screen and (max-width: 767px) {
    .features {
        background-image: none;
    }
}

/*------------1.2 bg@flow-specs------------*/


@media screen and (min-width: 1200px) {

    .container {
        width: 1100px;
    }
    .line_big {
        background-image: url(../static/linebig.svg);
        background-position: center top;
        min-height: 1600px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }

.line_mid {
    display: none;
}
.line_small {
    display: none;
}

}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .line_mid{
        background-image: url(../static/linemid.svg);
        background-position: center top;
        min-height: 1500px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }
    .line_big{
        display: none;
    }
    .line_small {
        display: none;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {

    .line_mid{
        display: none;
    }
    .line_big{
        display: none;
    }
    .line_small {
        background-image: url(../static/linesmall.svg);
        background-position: center top;
        min-height: 1500px;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }

}

@media screen and (max-width: 767px) {

    .featurea {
        padding: 0px;
    }
    .featureb {
        padding: 0px;
    }
    .featurec {
        padding: 0px;
    }
    .featured {
        padding:0px;
    }

    .specb {
        text-align: left;
    }
    .specc {
        text-align: left;
    }

    
    .line_mid{
        display: none;
    }
    .line_big{
        display: none;
    }
    .line_small {
        background-position: center top; 
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
    }

}




.simditor .simditor-body p{
	margin-bottom: 8px;
}


.carsousel .item{
	height: 300px;
}

.myfooter{
	border-top:1px solid #374652;
	margin-top:80px;
	height: 80px;
	color:#374652;
	padding-top: 20px;
	/* background-color: #ffffff; */
}



.content-header{
	border-top: 1px solid #e4e4e4;
    color: #b6b6b6;
    font-size: 18px;
    margin: 50px 0 25px;
    text-align: center;
}


.content-header span{
	background: none repeat scroll 0 0 #fff;
    display: inline-block;
    padding: 0 16px;
    position: relative;
    top: -10px;
}

.logohead{
	 background: url("../static/sea.jpg") no-repeat scroll center top;
  	 height: 600px; 
  	 margin-top: 0px;
  	 background-size:100% 100%;	
  	 color:#fff;
}

.logohead img{
	height:540px;
}

.mainimg{
	position:absolute;
	margin-top:10px;
	
}

.logoFont{
	font-size:24px;
}

.nav-btn{
	height: 20px;
}



