/*
 * Code snippets
 *
 * Generated via Pygments and Jekyll, these are snippets of HTML, CSS, and JS.
 */

.wait{
	background: url('../static/wait.gif')
}

.modal-dialog{
	margin-top: 80px;
}

.highlight {
  display: none; /* hidden by default, until >480px */
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}

/* Show code snippets when we have the space */
@media (min-width: 481px) {
  .highlight {
    display: block;
  }
}


/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
  /*  top: 80px;*/
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}


.btn-outline {
  /*color: #563d7c;*/
  color: #2fe2bf;
  background-color: #fff;
/*   border-color: #563d7c; */
  border-color: #2fe2bf;
  border-width: 1px;
  border-style: solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  /*background-color: #563d7c;
  border-color: #563d7c;*/
  background-color: #2fe2bf!important;
  border-color: #2fe2bf;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}


body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
  overflow-x:hidden;
}


.finfool-logo{
	color: #05c3f9;
    font-family: "icons";
    font-size: 50px;
    margin: 0 auto 42px;
    position: relative;
    width: 46px;
    box-sizing: border-box;
    outline: 0 none;
    padding: 0;
}

.finfool-logo span{
    color: white;
    font-size: 22px;
    left: 12px;
    position: absolute;
    top: 15px;
    
}


.navbar-header{
	margin-left: 50px!important;
}

.black-outline{
	background-color: #374652 ;
}

.btn-transparent-outline {
  /*color: #563d7c;*/
  color: #2fe2bf;
  background-color: transparent;
/*   border-color: #563d7c; */
  border-color: #2fe2bf;
  border-width: 1px;
  border-style: solid;
 
}
.btn-transparent-outline:hover,
.btn-transparent-outline:focus,
.btn-transparent-outline:active {
  color: #fff;
  /*background-color: #563d7c;
  border-color: #563d7c;*/
  background-color: #2fe2bf!important;
  border-color: #2fe2bf;
}


.navbar{
	border-radius:0px!important;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size:20px;
}

ul.navbar-nav li a{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

ul.navbar-nav li a:focus,
ul.navbar-nav li a:hover,
ul.navbar-nav li a:active{
	color: #ffffff!important;
	background-color: #2fe2bf;
	
}

.simditor{
	border-radius :3px;
	border-width: 1px!important;
}

.simditor-wrapper{
	border-radius :3px;
}

.simditor-body{
	padding-bottom: 0px !important;
	font-size: 14px !important;
}

.simditor .simditor-toolbar > ul > li > .toolbar-item{
	width: 40px !important;
	height: 40px !important;
}

.simditor .simditor-toolbar > ul > li > .toolbar-item span.fa {
	line-height: 13px;
	font-size: 13px !important;
}

.question-list{
	border-top:1px solid #CCCCCC;
/*	border-style:solid;*/
	/*height: 40px;*/
	padding-top: 15px;
	padding-bottom: 15px;
	
}

.big-caret{
	height:15px;
	width:15px;
}

.big-caret .caret{
	heigt:12px;
	width:12px;
}

.setImg{
	height: 60px;
	cursor: pointer;
}

.black-panel{
	border-color: #374652 !important;
}

.black-panel .panel-heading{
	background-color: #374652 !important;
	color:#ffffff !important;
	border-color: #374652 !important;
}

.righticon{
	position:relative!important;
	background-position: -60px -30px!important;
	display: inline !important;
}

.blackFont{
	color:#5a5a5a;
}

.greenFont{
	color:#16a085 !important;
}

.nav-pills > li.active > a{
	background-color: #2fe2bf;
}


.nav-pills > li.active > a:HOVER{
	 background-color: #55d98d;
}

.nav-pills > li.active > a:focus{
	background-color: #55d98d;
}

.customBar{
	margin-top: 60px;
	margin-left: -30px;
	padding-left: -30px;
	
}

.pagination-plain {
  height: 57px;
  padding: 0;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  }
.pagination-plain > li {
  display: inline;
  }
.pagination-plain > li.previous {
  padding-right: 23px;
  }
.pagination-plain > li.next {
  padding-left: 20px;
  }
.pagination-plain > li.active > a {
  color: #d3d7da;
  }
.pagination-plain > li > a {
  padding: 0 5px;
  }
@media (max-width: 480px) {
  .pagination-plain {
    overflow: hidden;
    text-align: center;
    }
  .pagination-plain > li.previous {
    display: block;
    width: 50%;
    margin-bottom: 10px;
    text-align: left;
    }
  .pagination-plain > li.next {
    float: right;
    width: 50%;
    margin-top: -64px;
    text-align: right;
    }
  }
@media (min-width: 768px) {
  .pagination-plain {
    height: auto;
    }
  }


.customSideNav{
	padding-left: 30px;
	background-color: #ffffff !important;
}

.mytesttab{
	margin-top: 20px;
}


.hedden {
    display: none;
}

#drop {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 20pt bold, "Vollkorn";
    color: #bbb
}

.navbar-inverse {
    /*background-color:#e7f7ff;*/
    background: #374652;
}

.navbar-transparent{
	background: transparent;
}


#landing .eyemagnet {
    background: #e3f5ff url("../static/large-010101.png") top center no-repeat;
    border-top: 1px solid #999;
    height: 549px
}

#landing .eyemagnet .chosen {
    position: absolute;
    margin-left: -50px;
    margin-top: -1px
}

#landing .eyemagnet > .content {
    width: 489px;
    margin-left: 50%;
    position: relative
}

#landing .eyemagnet h1 {
    margin: 120px 0 .5em 0;
    font: 400 40px "Open Sans", Verdana, sans-serif;
    color: #283440
}

#landing .eyemagnet .pitch {
    margin: 2em 0;
    font-size: 18px
}

#landing .eyemagnet .programmer-link {
    margin-top: 150px;
    position: absolute;
    right: 0
}

#landing .eyemagnet .programmer-link:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em
}

#landing .eyemagnet .programmer-link:hover {
    text-shadow: #046ba2 0 0 2px
}

#landing .eyemagnet button[name=requestdemo] {
    padding-left: 1.5em;
    padding-right: 2em
}

#landing .eyemagnet button[name=requestdemo]:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 1em
}

#landing .eyemagnet .programmer-link:before {
    width: 41px;
    height: 41px;
    background: url("../nux-img/icon-areyouaprogrammer.png") 0 0 no-repeat
}

#landing .eyemagnet button[name=requestdemo]:before {
    width: 23px;
    height: 24px;
    background: url("../nux-img/icon-watchmovie.png") 0 0 no-repeat
}

.wrapper, .user-message, .downtime-box, #landing .testimonials blockquote {
    width: 978px;
    margin: 0 auto
}

#landing .eyemagnet .pitch {
    margin: 2em 0;
    font-size: 18px
}

#landing .carton {
    background: #374652;
    border-top: 1px solid #999;
    height: 460px;
    border: solid 0px
}

#landing .carton .carton1 {
    position: absolute;
    margin-left: -50px;
    margin-top: -1px
}



.aa:link {text-decoration:none;}
.aa:active{text-decoration:none;}
.aa:visited {text-decoration:none;}
.aa:hover {text-decoration:none;}
a.selected {background-color: lightpink!important;}


input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}

.quizquestion li{position:relative;padding:0;margin:0;font-size:12px;}
.quizquestion li .show{visibility:hidden;position:absolute;top:-50px;left:150px;width:100%;padding:6px;border:#dfdfdf 1px solid;color:#000000;z-index:10000000;background:#eee;}/*显示li的内容的定位*/
.quizquestion li:hover{background:#ddd}
.quizquestion li:hover .show,.quizquestion li .show:hover .show{visibility:visible;}/*鼠标经过ul时，显示li的内容*/
.quizquestion li .show a{margin-right:10px;color:#333;}
.quizquestion li {color:#333;margin-top:10px;margin-bottom:10px;margin-left:-17px;width:100%;display:block;height:40px;line-height:25px;background:#eee;border:#dfdfdf 1px solid;text-decoration:none;text-indent:10px;}


/* sprite button slicing style information */
#wmd-button-bar { width: 560px; background-color: #FEFEFE; border: 1px solid #EFEFEF; margin-bottom: 4px; padding: 4px; }
#wmd-button-bar #wmd-button-row { position: relative; margin: 10px 5px 5px 5px; padding: 0px; height: 20px; background: #fff; }
#wmd-button-bar #wmd-button-row .wmd-button { width: 20px; height: 20px; margin-left: 5px; margin-right: 5px; position: absolute; background: url(../static/wmd-buttons.png) no-repeat; display: inline-block; list-style: none; }
#wmd-button-bar #wmd-button-row .wmd-spacer { width: 1px; height: 20px; margin-left: 14px; position: absolute; background-color: Silver; display: inline-block; list-style: none; }
#wmd-button-bar #wmd-button-row #wmd-bold-button { left: 0px; background-position: 0px 0; }
#wmd-button-bar #wmd-button-row #wmd-italic-button { left: 25px; background-position: -20px 0; }
#wmd-button-bar #wmd-button-row #wmd-spacer1 { left: 50px; }
#wmd-button-bar #wmd-button-row #wmd-link-button { left: 75px; background-position: -40px 0; }
#wmd-button-bar #wmd-button-row #wmd-quote-button { left: 100px; background-position: -60px 0; }
#wmd-button-bar #wmd-button-row #wmd-code-button { left: 125px; background-position: -80px 0; }
#wmd-button-bar #wmd-button-row #wmd-image-button { left: 150px; background-position: -100px 0; }
#wmd-button-bar #wmd-button-row #wmd-spacer2 { left: 175px; }
#wmd-button-bar #wmd-button-row #wmd-olist-button { left: 200px; background-position: -120px 0; }
#wmd-button-bar #wmd-button-row #wmd-ulist-button { left: 225px; background-position: -140px 0; }
#wmd-button-bar #wmd-button-row #wmd-heading-button { left: 250px; background-position: -160px 0; }
#wmd-button-bar #wmd-button-row #wmd-hr-button { left: 275px; background-position: -180px 0; }
#wmd-button-bar #wmd-button-row #wmd-spacer3 { left: 300px; }
#wmd-button-bar #wmd-button-row #wmd-undo-button { left: 325px; background-position: -200px 0; }
#wmd-button-bar #wmd-button-row #wmd-redo-button { left: 350px; background-position: -220px 0; }
#wmd-button-bar #wmd-button-row #wmd-help-button { right: 0px; display: none; background-position: -240px 0; }

.p-answerlist a {
    height: 38px;
    border: 1px solid #eaeaea;
    border-radius: 2px;
    padding-left: 38px;
    background: #fff;
    display: block;
    line-height: 38px;
    color: #333;
    font-size: 14px;
}
/*尼玛，这么底层的标签也能定义，艹
ul li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: upper-alpha;
    /*padding: 10px;*/
/*}*/

.bs-docs-sidebar.affix {
    position: static
}

@media (min-width: 768px) {
    .bs-docs-sidebar {
        padding-left: 20px
    }
}

.bs-docs-sidenav {
    margin-top: 20px;
    margin-bottom: 20px
}

.bs-docs-sidebar .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999
}

.bs-docs-sidebar .nav > li > a:hover, .bs-docs-sidebar .nav > li > a:focus {
    padding-left: 19px;
    color: #563d7c;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #563d7c
}

.bs-docs-sidebar .nav > .active > a, .bs-docs-sidebar .nav > .active:hover > a, .bs-docs-sidebar .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    color: #563d7c;
    background-color: transparent;
    border-left: 2px solid #563d7c
}

.bs-docs-sidebar .nav .nav {
    display: none;
    padding-bottom: 10px
}

.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav > li > a:hover, .bs-docs-sidebar .nav .nav > li > a:focus {
    padding-left: 29px
}

.bs-docs-sidebar .nav .nav > .active > a, .bs-docs-sidebar .nav .nav > .active:hover > a, .bs-docs-sidebar .nav .nav > .active:focus > a {
    padding-left: 28px;
    font-weight: 500
}

@media (min-width: 992px) {
    .bs-docs-sidebar .nav > .active > ul {
        display: block
    }

    .bs-docs-sidebar.affix, .bs-docs-sidebar.affix-bottom {
        width: 213px
    }

    .bs-docs-sidebar.affix {
        position: fixed;
        top: 20px
    }

    .bs-docs-sidebar.affix-bottom {
        position: absolute
    }

    .bs-docs-sidebar.affix-bottom .bs-docs-sidenav, .bs-docs-sidebar.affix .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .bs-docs-sidebar.affix-bottom, .bs-docs-sidebar.affix {
        width: 263px
    }
}

.tipBox{
	position: fixed;
    width:100%;
    height: 40px;
    top:50px;
    text-align: center;
}

.tipContent{
    background-color: yellow;
    border-radius: 4px;
}
