.pretest{
	width: 661px;
	height: 439px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin-left: -330px;
	margin-top: -220px;
	background-image: url('../static/pretest.png');
}
.pretest .info{
	width: 200px;
	height: 100px;
	position: relative;
	left: 235px;
	top: 150px;
	text-align: center;
}
.pretest .pwd{
	width: 220px;
	height: 17px;
	position: relative;
	left: 225px;
	top: 160px;
}
.cameraIcon{
	font-size:24px;
	height: 200px;
	border-radius: 10px; 
	background-color: #ddd;
	width: 300px;
	padding-top: 50px;
	text-align: center;
	cursor: pointer;
}

 .ui-autocomplete {
          /* will be fixed by options.outHeight */
          max-height: 200px;
          min-height: 50px;
          max-width: 300px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding to account for vertical scrollbar */
          padding-right: 0;
          z-index: 9999;
      }
      .ui-helper-hidden-accessible {
        display: none;
      }
      .ui-menu-add {
        text-align: center;
      }
      .ui-menu-group {
        margin-right: 10px;
        text-align: right;
        color: red;
      }
      .ui-state-hover,
      .ui-state-focus,
      .ui-state-active {
          border: none;
          background: none;
          cursor: pointer;
      }
      /* Scrollbar Styles */
      ::-webkit-scrollbar {
          background-color: transparent;
          width: 15px;
      }
      ::-webkit-scrollbar-thumb {
          background: #aaa;
          min-height: 20px;
      }
      ::-webkit-scrollbar-track {
          background: #ddd;
      }