.cameraIcon{
	font-size:24px;
	height: 200px;
	border:1px solid #e1e1e8;
	border-radius:5px; 
	background-color: #e1e1e8;
	width: 80%;
	text-align: center;
	cursor: pointer;
	
}

.cameraBtn{
	margin-left: 30%;
}


 .ui-autocomplete {
          /* will be fixed by options.outHeight */
          max-height: 200px;
          min-height: 50px;
          max-width: 300px;
          overflow-y: auto;
          /* prevent horizontal scrollbar */
          overflow-x: hidden;
          /* add padding to account for vertical scrollbar */
          padding-right: 0;
          z-index: 9999;
      }
      .ui-helper-hidden-accessible {
        display: none;
      }
      .ui-menu-add {
        text-align: center;
      }
      .ui-menu-group {
        margin-right: 10px;
        text-align: right;
        color: red;
      }
      .ui-state-hover,
      .ui-state-focus,
      .ui-state-active {
          border: none;
          background: none;
          cursor: pointer;
      }
      /* Scrollbar Styles */
      ::-webkit-scrollbar {
          background-color: transparent;
          width: 15px;
      }
      ::-webkit-scrollbar-thumb {
          background: #aaa;
          min-height: 20px;
      }
      ::-webkit-scrollbar-track {
          background: #ddd;
      }