
.tests{
	background-color: #f8f8f8;
}
.tests .item{
	float: left;
	width: 280px;
	margin: 0 20px;
}
.tests .item .panel{
	border: 0px solid #979797;
	box-shadow: 1px 1px 2px 0px rgba(193,192,192,0.50);
	border-radius: 8px;
}
.tests .item .panel-heading h4{
	font-size: 16px;
}
.tests .item .panel:hover{
	border: 0px solid #00D8BD;
	box-shadow: 1px 1px 2px 0px rgba(0,216,189,0.50);
}
.tests .item .panel-heading{
	border-radius: 8px;
}
.tests .panel-body{
	padding: 15px 20px;
}
.tests .info1{
	font-size: 13px;
}
.tests .info2, .info3{
	font-size: 12px;
}
.tests .info1, .info2 div{
	padding: 5px 0;
}
.tests .info2, .tests .info3{
	float: left;
}
.tests .info3{
	height: 60px;
	padding: 30px 0 0 0;
}
.tests .info3 a{
	display: inline-block;
	text-align: right;
	width: 80px;
}
.tests .item.addtest{
	position: relative;
	height: 166px;
	width: 288px;
	background-color: #fcfcfc;
	border: none;
	border-radius: 8px;
	cursor: pointer;border: 0px solid #979797;
	box-shadow: 1px 1px 2px 0px rgba(193,192,192,0.50);
}
.tests .item.addtest:hover{
	background-color: #fff;
	border: 0px solid #00D8BD;
	box-shadow: 1px 1px 2px 0px rgba(0,216,189,0.50);
}
.tests .item.addtest div{
	background-color: #ddd;
}
.tests .item.addtest .horizontal{
	width: 40px;
	height: 2px;
	position: absolute;
	top: 82px;
	left: 124px;
}
.tests .item.addtest .vertical{
	width: 2px;
	height: 40px;
	position: absolute;
	top: 63px;
	left: 143px;
}
