.admin-content.testqs{
	padding: 0 180px 0 0;
	min-width: 1000px;
	font-size: 12px;
	background-color: #f8f8f8;
}
.testqs .topbar {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}
.testqs .topbar .type{
	color: #00D8BD;
	font-size: 13px;
}
.testqs .topbar div{
	width: 160px;
	height: 50px;
	line-hight: 50px;
	text-align: center;
	float: left;
	line-height: 50px;
}
.testqs .topbar .invite{
	float: right;
	padding: 9px 0;
	margin-right: 20px;
}
.testqs .topbar .glyphicon{
	font-size: 20px;
	position: relative;
	top: 5px;
	left: 0;
}

.qslist{
	width: 100%;
	padding: 20px;
	background-color: #F8F8F8;
}
.qslist .listcontent{
	width: 100%;
	border: 0px solid #979797;
	box-shadow: 1px 1px 2px 0px rgba(193,192,192,0.50);
	border-radius: 8px;
	background-color: #fff;
}
.qslist .listcontent .scroll{
	overflow-y :scroll;
	height: 350px;
}
.qslist .item{
	padding: 13px 0;
	border-bottom: 1px solid #ddd;
	overflow:hidden;
	zoom:1;
	font-size: 12px;
}
.qslist .item .qscontent a{
	color: #00d8bd;
}
.qsindex,.qscontent,.qstype,.qsoperate{
	float: left;
	width: 10%;
}
.qslist .qsindex{
	wdith: 10%;
	text-align: center;
}
.qslist .qscontent{
	width: 50%;
	padding-right: 30px;
}
.qslist .qscontent .content{
	width: 300px;
	float: left;
	overflow:hidden;
	white-space:nowrap;
}
.qslist .qscontent .icon{
	width: 50px;
	float: left;
	text-align: center;
}
.qslist .qstype{
	width: 20%;
}
.qslist .qsoperate{
	width: 20%;
}

.addqs{
	width: 400px;
	margin: 0 auto;
}
.addqs button{
	margin: 0 20px;
}