.testblock{
	height: 100px;
	margin-top:30px;
    border: 1px solid #000;
    border-radius:3px;
}

.testblock .testtitle{
	font-size: 18px;
	margin-top: 10px
}

.testblock .testinvite{
	margin-top: 10px;
}

.testblock .testreport{
	color:black;
	margin-top: 5px;
}

.test-tag {
	margin-top: 10px;
}


.skill-board{
	 /* background: url("../static/skill_tree.png") no-repeat scroll center top; */
  	 height: 300px; 
  	 margin-top: 0px;	
  	 background-size:100% 100%;	
}

.tooltip-inner{
	 background-color:#fff !important;
	 color:#000;
	 border: 1px solid #000;
	 width: auto！important;
	
}

.tooltip.bottom .tooltip-arrow{
	 border-bottom-color: #000  !important;
}
.tooltip.top .tooltip-arrow{
	 border-top-color: #000  !important;
}
.tooltip.left .tooltip-arrow{
	 border-left-color: #000  !important;
}
.tooltip.right .tooltip-arrow   {
	 border-right-color: #000  !important;
}

 .panel.quize-block .panel-heading {
	background-color: white;
    border-color: #d7d4f0;
    color: #1abc9c;
    font-weight: bold;
    font-size: 16px;
 }
 .panel.quize-block.nopadding .panel-body{
 	padding: 0;
 	overflow:hidden;
 }
 .panel.quize-block .panel-body img{
 	width: 100%;
 }
 .panel.quize-block .panel-body p{
 	text-indent: 2em;
 }
 .panel.quize-block .panel-footer{
 	height: 55px;
 	padding: 10px 5px;
 }
  .panel.quize-block .panel-footer p{
  	display: inline-block;
  	height: 25px;
  	line-height: 25px;
  }
  .panel.quize-block .panel-body{
  	height:140px;
  }
  .panel.quize-block button{
  	font-size: 14px;
  }
  
  
  