<div class="col-md-10 col-md-offset-1" style="padding: 70px" ng-controller="Excel">
    <div class="col-md-4" id="drop">直接将 Excel 2003 文件拖到这里吧</div>
    <div class="col-md-2">下载模版，然后选择上传
        <a class="btn btn-default" href="static/invite.xls">点我下载模版</a>
        <!--{{testlist}}-->
        <!--{{xlsusers}}-->
    </div>
    <p><strong>邀请候选人</strong>
        <button class="btn btn-info pull-right" ng-click="refresh()">清理重复联系人</button>
    </p>

    <div class="col-md-12 highlight" style="max-height: 400px;overflow: auto">
        <ul class="nav nav-tabs list-group">
            <li ng-repeat="tl in testlist track by $index"
                ng-class="{true: 'active', false: 'inactive'}[tl==active]">
                <a href data="{{tl}}" ng-click="selectTest($event.target)">
                    {{tl}}</a>
            </li>
        </ul>
        <table class="table form-inline">
            <thead>
            <tr>
                <th>姓</th>
                <th>名</th>
                <th>Email</th>
                <th>电话<a class="glyphicon glyphicon-plus aa pull-right" href="" ng-click="addOne(0)"></a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in xlsusers|filterTest:active">

                <!--<tr ng-repeat="(index,user) in xlsusers" >-->
                <td>
                    <a class="glyphicon glyphicon-remove aa" href="" ng-click="removeOne(user)"></a>
                    <input class="form-control" type="text" value="{{userFname}}" ng-model="user.Fname"
                           style="width: 90%"/>
                </td>
                <td><input class="form-control" type="text" value="{{user.Lname}}" ng-model="user.Lname"/></td>
                <td><input class="form-control" type="text" value="{{user.email}}" ng-model="user.email"/></td>
                <td><input class="form-control" type="text" value="{{user.tel}}" ng-model="user.tel"
                           style="width: 80%"/>
                    <a class="glyphicon glyphicon-plus aa" href="" ng-click="addOne(user)"></a>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <p><strong>Customize the invitation email to your candidates:</strong></p>

        <p>From:</p>

        <p>Reply To:<input class="form-control" type="text" ng-model="subject"/></p>

        <p>Subject:<input class="form-control" type="text" ng-model="replyTo"/></p>
        <div ng-include src="'mdeditor.html'" ></div>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="clean()">Clean</button>
            <button class="btn btn-default">Preview</button>
            <button class="btn btn-success" ng-click="sent()">Sent</button>
        </div>
    </div>
</div>
<script src="js/excle.js"></script>
<!--<script src="js/xlsreader.js"></script>-->