
<div id="editor" style="width: 100%">
    <div id="wmd-button-bar"></div>
    <textarea class="form-control" id="wmd-input" rows="12" name="wmd-input" ng-model="text" style="width: 100%;resize: none"></textarea>

    <div id="nav">
        <!--<button class="btn btn-default" ng-click="clean()">Clear</button>-->
        <!--<span id="copy_md">
          <button class="btn btn-default" ng-click="copyMD()">Copy Markdown</button>
        </span>-->
        <!--<span id="copy_html">-->
          <!--<button class="btn btn-default" ng-click="copyHTML()">Copy HTML</button>-->
		  <!---->
        <!--</span>-->
    </div>

</div><div id="wmd-output" class="hedden"></div>
<!--<div class="highlight">点击Copy HTML 后，$scope.html的值<br />{{html}}</div>-->
<div id="wmd-preview" class="hedden"></div>