<div class="text-center container" style="padding: 70px">
    <form>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>邮箱</p>
            </div>
            <div class="col-md-5">
                <input class="form-control" type="email" placeholder={{email}} disabled>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>姓名</p>
            </div>
            <div class="col-md-5">
                <input id="name" class="form-control" type="text" ng-model="name">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>公司名</p>
            </div>
            <div class="col-md-5">
                <input id="company" class="form-control" type="text" ng-model="company">
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>联系电话</p>
            </div>
            <div class="col-md-5">
                <input id="tel" class="form-control" type="tel" ng-model="tel">{{tel}}
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>密码</p>
            </div>
            <div class="col-md-5">
                <input id="pwd" class="form-control" type="password" ng-model="pwd" ng-maxlength=20 ng-minlength=6>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div style="padding: 30px">
            <div class="col-md-2 col-lg-offset-2">
                <p>新密码</p>
            </div>
            <div class="col-md-5">
                <input id="newpwd" class="form-control" type="password" ng-model="newpwd" ng-maxlength=20 ng-minlength=6>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="col-md-12 text-center" style="padding: 30px">
            <button class="btn btn-default" ng-click="sendInfo()">保存</button>
            <button class="btn btn-default">修改密码</button>

        </div>
    </form>
</div>