<div class="col-md-10 col-md-offset-1" style="padding: 70px" ng-controller="TestBank">
    <ul class="nav nav-tabs list-group">
        <!--<ul class="nav nav-tabs" ng-model="template" ng-options="t.name for t in templates">-->
        <li ng-repeat="tt in Qtype"
            ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
            <a href data="{{tt.data}}" ng-click="GoPage($event.target)">
                {{tt.name}}</a>
        </li>
    </ul>
    <div ng-class="{false:'hedden', true: ''}[active==1]">
        <form class="form-inline" role="form">
        <table class="table ">
            <thead>
            <tr>
                <th>选择试题集</th>
                <th>搜索试题库（标签!请用空格隔开多个关键词）</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                <select class="form-control" ng-change="queryQuestions(1)" ng-model="reciveData.selectedSets" ng-options="m.name for m in reciveData.sets">
                    <option value="">-- 请选择 --</option>
                </select>
                </td>
                <td><input type="text" ng-model="reciveData.keyword" class="form-control">
                    <button class="btn btn-default" ng-click="queryQuestions(1)">搜索</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="border:#dfdfdf 1px solid">
        	<ul class="quizquestion">
        		<li ng-repeat="q in reciveData.questions">
        			名称：{{q.name}}
        			<div>
        			内容{{q.context}}
        			<br/>
        			&nbsp;&nbsp;&nbsp;标签{{q.tag}}
        			<br/>
        			
        			<span ng-repeat=" a in q.answer">
        				<p>{{a.text}}</p>
        			</span>
        			</div>
        		</li>
        	</ul>
        </div>
        <ul class="pagination">
            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)">&laquo;</a></li>
            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)">{{i.index}}</a></li>
            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)">&raquo</a></li>
        </ul>
        </form>
    </div>
    <div ng-class="{false:'hedden', true: ''}[active==2]">
        <form class="form-inline" role="form">
            <p>搜索试题库（标签）</p>
            <p><input type="text" ng-model="reciveData.keyword" class="form-control">
                    <button class="btn btn-default" ng-click="queryQuestions(1)">搜索</button></p>
        <div style="border:#dfdfdf 1px solid">
        	<ul class="quizquestion">
        		<li ng-repeat="q in reciveData.questions">
        			名称：{{q.name}}
        			<div>
        			内容{{q.context}}
        			<br/>
        			&nbsp;&nbsp;&nbsp;标签{{q.tag}}
        			<br/>
        			
        			<span ng-repeat=" a in q.answer">
        				<p>{{a.text}}</p>
        			</span>
        			</div>
        		</li>
        	</ul>
        </div>
        <ul class="pagination">
            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)">&laquo;</a></li>
            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)">{{i.index}}</a></li>
            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)">&raquo</a></li>
        </ul>
        </form>
    </div>
    <div ng-class="{false:'hedden', true: ''}[active==3]">
        <form class="form-inline" role="form">
            <table class="table ">
                <thead>
                <tr>
                    <th>选择试题集</th>
                    <th>搜索试题库（标签）</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                <select class="form-control" ng-change="queryQuestions(1)" ng-model="reciveData.selectedSets" ng-options="m.name for m in reciveData.sets">
                    <option value="">-- 请选择 --</option>
                </select>
                    </td>
                    <td><input type="text" ng-model="reciveData.keyword" class="form-control">
                    <button class="btn btn-default" ng-click="queryQuestions(1)">搜索</button>
                    </td>
                </tr>
                </tbody>
            </table>
        <div style="border:#dfdfdf 1px solid">
        	<ul class="quizquestion">
        		<li ng-repeat="q in reciveData.questions">
        			名称：{{q.name}}
        			<div>
        			内容{{q.context}}
        			<br/>
        			&nbsp;&nbsp;&nbsp;标签{{q.tag}}
        			<br/>
        			
        			<span ng-repeat=" a in q.answer">
        				<p>{{a.text}}</p>
        			</span>
        			</div>
        		</li>
        	</ul>
        </div>
        <ul class="pagination">
            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)">&laquo;</a></li>
            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)">{{i.index}}</a></li>
            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)">&raquo</a></li>
        </ul>
        </form>
    </div>
</div>