<div class="col-md-10 col-md-offset-1" style="padding: 70px" >
    <ul class="nav nav-tabs list-group">
        <!--<ul class="nav nav-tabs" ng-model="template" ng-options="t.name for t in templates">-->
        <li ng-repeat="tt in Qtype"
            ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
            <a href data="{{tt.data}}" ng-click="GoPage($event.target)">
                {{tt.name}}</a>
        </li>
    </ul>
    <div ng-class="{false:'hedden', true: ''}[show==1]">
        <form class="form-inline" role="form">
        <div class="container-fluid">

	        <div ng-class="{true:'hedden', false: 'col-md-4'}[active==2]"> 
	        	<p>选择试题集</p>
	           <select class="form-control" ng-change="queryQuestions(1)" ng-model="reciveData.selectedSets" ng-options="m.name for m in reciveData.sets">
                    <option value="">-- 请选择 --</option>
                </select>
	        </div>
	        <div ng-class="col-md-4"> 
	        <p>搜索试题库（标签!请用空格隔开多个关键词）</p>
	        <input type="text" ng-model="reciveData.keyword" class="form-control">
            <button class="btn btn-default" ng-click="queryQuestions(1)">搜索</button>
	        </div>

        </div>

        <div style="border:#dfdfdf 1px solid;margin:10px">
        	<ul class="quizquestion">
        		<li ng-repeat="q in reciveData.questions">
        			<input type="radio" ng-model="reciveData.choosedQ" ng-value="q" ng-class="{false:'hedden', true: ''}[privi>2]">
                    </input>
        			名称：{{q.name}}
        			<div class="show" ng-bind-html="gettrustContext(q)" compile-template>
        			</div>
        		</li>
        	</ul>
        </div>
        <ul class="pagination">
            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)">&laquo;</a></li>
            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)">{{i.index}}</a></li>
            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)">&raquo</a></li>
        </ul>
        <div class="btn-group-justified" ng-class="{false:'hedden', true: ''}[privi>2]">
            <a class="btn btn-default " data="{{active}}" ng-click="AddPage($event.target)">新增</a>
            <a class="btn btn-default" ng-click="modifyQuestion()">修改</a>
            <a class="btn btn-default" ng-click="deleteQuestion()">删除</a>
        </div>
        </form>
    </div>
    <!--<h1>{{active==1}}</h1>-->
    <div ng-class="{0:'', 1: 'hedden'}[show]">

        <div ng-class="{true:'', false: 'hedden'}[active==1]">
             <p>标题
                   <input type="text" id="name" class="form-control" ng-model="newQuestion.name">
               </p>
            <p>题干</p>

            <form class="form-inline" role="form">
                <!--<textarea class="form-control" type="text" rows=9 style="width: 100%;resize: none"-->
                          <!--ng-model="newQuestion.context"></textarea>-->
                <!--<div ng-include src="'mdeditor.html'" ></div>-->
                <textarea cleditor ng-model="context"></textarea>

                <div class="col-md-12">
                	<div class="col-md-6">
		                <p style="padding-top: 20px;margin-bottom: 0px;">标签(以 英文,符号 区分)</p>
		                <input type="text" id="tag" class="form-control" ng-model="tag">
		                
                	</div>
		            <div ng-class="{true:'hedden', false: 'col-md-6'}[active==2]"> 
			        	<p style="padding-top: 20px;margin-bottom: 0px;">选择试题集</p>
			           <select class="form-control" ng-model="setObj" ng-options="m.name for m in reciveData.sets">
		                    <option value="">-- 请选择 --</option>
		                </select>
			        </div>  
					<div class="col-md-12" style="margin-top:20px">
						<div class="col-md-12">
							<button class="btn btn-default" ng-click="addOne()">新增选项</button>
						</div>
		                <div class="col-md-12">
			                <ol style="list-style-type:upper-alpha" class="col-md-10">
			                    <li ng-repeat="ans in newQuestion.answer" style="margin:5px">
			                        <input type="text" style="width: 65%" class="form-control" ng-model="ans.text">
			                        <input type="text" style="width: 15%" class="form-control" ng-model="ans.score" ng-change="isNum(ans.score)">
			                        <a data="{{$index}}" class="glyphicon glyphicon-remove aa" href=""
			                           ng-click="removeOne($index)"></a>
			                        <span class="pull-right"><input type="checkbox" ng-model="ans.isright">是否正确</span>
			
			                    </li>
			                </ol>
		                </div>

					</div>              	
                </div>


                <div class="btn-group-justified" style="padding: 70px">
                    <a class="btn btn-default " ng-click="addQuestion()">保存</a>
                    <a class="btn btn-default" ng-click="resetQuestion()">重置</a>
                    <a class="btn btn-default" ng-click="cancel()">取消</a>
                </div>
            </form>
        </div>
        <div ng-class="{true:'', false: 'hedden'}[active==2]">
               <p>标题
                   <input type="text" id="name" class="form-control" ng-model="newQuestion.name">
               </p>
            <p>提示信息：编程题主要考虑对基本概念及算法的理解程度，程序的默认入口为solution，为单一函数。若需要考察复杂的类或多个
                方法，请选择无测试用例，并由出题人员手工判断是否正确</p>

            <p>题干</p>

            <form class="form-inline" role="form">
                <!--<textarea ng-model="newQuestion.context" class="form-control" type="text" rows=9 style="width: 100% ;resize: none"></textarea>-->
                <!--<div ng-include src="'mdeditor.html'" ></div>-->
                <textarea cleditor ng-model="context"></textarea>
                <p style="padding: 20px">标签(以 , 区分)<input type="text" class="form-control" ng-model="newQuestion.tag">
                </p>
                <ul>
                    <input type="radio" ng-model="progrma.show" ng-value="true" />测试用例
                    <input type="radio" ng-model="progrma.show" ng-value="false" />无测试用例
                </ul>
                <button class="btn btn-default" ng-class="{true:'', false: 'hedden'}[progrma.show]" ng-click="addOne()">新增测试用例</button>
                <div style="list-style-type:upper-alpha;width: 100% ;" ng-class="{true:'', false: 'hedden'}[newQuestion.show]">
                    <li ng-repeat="ans in newQuestion.answer">
                        <div class="col-md-12">		                 
                        <div class="col-md-5">
		                    <p>输入</p>
		                   <input type="text" style="width: 100%" class="form-control" ng-model="ans.text">
		                </div>
		                <div class="col-md-4">
		                    <p>输出</p>
		                    <input type="text" style="width: 100%" class="form-control" ng-model="ans.isright">
		                </div>
		                <div class="col-md-3">
		                	<p>分数</p>
		                <input type="text"  style="width: 80%" class="form-control" ng-model="ans.score" ng-change="isNum(ans.score)" />
		                <button class="glyphicon glyphicon-remove aa"
		                           ng-click="removeOne($index)"></button>  		                
		                </div>

		                </div>

                    </li>
                </div>

				<div div class="btn-group-justified">
					<p>语言选择</p>
	                <ul>
	                    <input type="radio">C
	                    <input type="radio">Java
	
	                </ul>
				</div>


                <div class="btn-group-justified" style="padding: 70px">
                    <a class="btn btn-default " ng-click="addQuestion()">保存</a>
                    <a class="btn btn-default" ng-click="resetQuestion()">重置</a>
                    <a class="btn btn-default" ng-click="cancel()">取消</a>
                </div>
            </form>
        </div>
        <div ng-class="{true:'', false: 'hedden'}[active==3]">
               <p>标题
                   <input type="text" id="name" class="form-control" ng-model="newQuestion.name">
               </p>
            <p>题干</p>

            <form class="form-inline" role="form">
                <!--<textarea ng-model="newQuestion.context" class="form-control" type="text" rows=9 style="width: 100% ;resize: none"></textarea>-->
                <!--<div ng-include src="'mdeditor.html'" ></div>-->
                <textarea cleditor ng-model="context"></textarea>
                <p style="padding: 20px">标签(以 , 区分)<input type="text" class="form-control" ng-model="newQuestion.tag">
                </p>


                <div class="btn-group-justified" style="padding: 70px">
                    <a class="btn btn-default " ng-click="addQuestion()">保存</a>
                    <a class="btn btn-default" ng-click="resetQuestion()">重置</a>
                    <a class="btn btn-default" ng-click="cancel()">取消</a>
                </div>
            </form>
        </div>
    </div>
</div>