<div class="highlight col-md-2" ng-class="{0: '', 1: 'dropup'}[show]" style="bottom: 2px;right:2px;position: fixed " ng-controller="mainController">
    <!--<div class="highlight col-md-2  " style="display: none;">-->
    <a href=""  class="caret pull-right"  ng-click="btn()"></a>
    <a href="" class="text-center" ng-click="btn()">请给我们提出宝贵的建议</a>
    <textarea rows="8" id="yr" style="width: 100% ;resize: none;" ng-class="{0: '', 1: 'hedden'}[show]" ng-model="msg"></textarea>
    <button ng-class="{0: 'btn btn-success btn-xs center-block', 1: 'hedden'}[show]" ng-click="contactus()" style="margin-top:5px">提交</button>
</div>
<script>
    function Ctrl($scope) {
        $scope.show = 1;
        $scope.btn = function () {
            $scope.show = -($scope.show - 1);
        }
    }
</script>