<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/holder.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://v3.bootcss.com/examples/carousel/carousel.css"/>
    <link href="http://v3.bootcss.com/docs-assets/css/docs.css" rel="stylesheet">
</head>
<body ng-app>
<div ng-controller="TestCtrl">
    <a href data="1" ng-click="GoPage($event.target)">1</a>
    <a href data="2" ng-click="GoPage($event.target)">2</a>
    <a href data="3" ng-click="GoPage($event.target)">3</a>
    <a href data="4" ng-click="GoPage($event.target)">4</a>
    <a href data="5" ng-click="GoPage($event.target)">5</a>
    {{ page }}
    {{1==2}}
</div>
<div ng-controller="Ctrl">
    <!--<ul class="nav nav-tabs list-group">
&lt;!&ndash;<ul class="nav nav-tabs" ng-model="template" ng-options="t.name for t in templates">&ndash;&gt;
        <li ng-repeat="template in templates"
            ng-class="{true: 'active', false: 'inactive'}[template.data==active]">
            <a href data="{{template.data}}" ng-click="GoPage($event.target)">
            {{template.name}}</a>
        </li>
</ul>-->{{template.url}}
    <div class="slide-animate-container">
        <div class="slide-animate" ng-include="template.url"></div>
    </div>
</div>

<!--<div ng-controller="Ctrl">
    <select ng-model="template" ng-options="t.name for t in templates">
        &lt;!&ndash;<option value="">(blank)</option>&ndash;&gt;
    </select>
    url of the template: {{template.url}}
    <hr/>
    <div class="slide-animate-container">
        <div class="slide-animate" ng-include="template.url"></div>
    </div>
</div>-->
<script>
    function Ctrl($scope) {
        $scope.active = 1;
        $scope.templates =
                [ { name: '选择题',data:'1', url: 'mytestBank.html'},
                    { name: '编程题',data:'2', url: 'mytestBank1.html'},
                    { name: '问答题',data:'3', url: 'mytestBank2.html'} ];
        $scope.template = $scope.templates[0];
        $scope.GoPage = function(target){
            $scope.active = target.getAttribute('data');
            $scope.template = $scope.templates[$scope.active-1];
        }
    }
</script>
<script>
    function TestCtrl($scope) {
        $scope.page = 1;
        $scope.getData = function () {
            console.log($scope.page);
        }
        $scope.GoPage = function (target) {
            $scope.page = target.getAttribute('data');
            this.getData();
        }
    }
</script>
</body>
</html> 