<link rel="stylesheet" type="text/css" href="resource/css/testshow.css" />

<style>
	.innertest{
		padding: 20px;
	}
	.innertest .cspanel .panel-heading{
		text-align: center;
	}
	.innertest .item{
		position: relative;
		width: 220px;
		height: 210px;
		float: left;
		margin-left: 20px;
	}
	.innertest .item .panel-heading{
		text-algin: left;
	}
	.innertest .item .panel-body{
		padding: 10px;
	}
	.innertest .item button{
		position: absolute;
		left: 50%;
		bottom: 10px;
		width: 100px;
		margin-left: -50px;
	}
</style>


<div class="innertest">
	<h4>您需要招聘什么样的开发人员？</h4>
	<div class="panel panel-default cspanel" >
		<div class="panel-heading">
			<h4>Web开发</h4>
		</div>
		<div class="panel-line">
			<div></div>
		</div>
		<div class="panel-body">
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>Web前端试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察对html、css、javascript及常用框架Jquery、Bootstrap等知识的掌握程度，并通过编程题考察分析和动手能力。
				    	包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('webFront')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>Java后端试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察Java服务端开发相关java, spring, hibernate等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('java')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>PHP后端试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察php服务端开发相关php,thinkphp等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('php')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>全栈开发试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察包括前端和后端相关知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right">手工生成试题</button>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default cspanel" >
		<div class="panel-heading">
			<h4>Web移动开发</h4>
		</div>
		<div class="panel-line">
			<div></div>
		</div>
		<div class="panel-body">
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>Android开发试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察Android相关android sdk，linux等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('android')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>IOS开发试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察IOS相关object-c，swift等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('object_c')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
					<h4>Web App开发试题</h4>
				</div>
				<div class="panel-body">
					<p>
						考察Web App开发相关基本技能包括html,css,javascript。 以及一些javascript类库，包括jQuery， Anuglarjs等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题2道，考试时长75分钟，总分100。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('webFront')">自动生成试题</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal" id="testCreateModal" tabindex="0"
     role="dialog" aria-labelledby="TryLabel"
     aria-hidden="true">
     <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" >
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel" style="font-size:16px;color:#1abc9c">新建测试</h4>
	      </div>
	      <div class="modal-body">
	         <form class="form-horizontal" role="form">
				  
				  <div class="form-group">
				    <label class="col-sm-2 control-label">测试名称</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" ng-model="addtest.name" placeholder="测试名称">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label  class="col-sm-2 control-label">时间</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" ng-model="addtest.testtime" >
				    </div>
				  </div>
				  
				   <div class="form-group">
				    <label  class="col-sm-2 control-label">备注</label>
				    <div class="col-sm-6">
				      <textarea  class="form-control" ng-model="addtest.extrainfo"  placeholder="备注" style="width:100%;heght:200px"></textarea>
				    </div>
				  </div>
			  </form>
	      </div>
	      <div class="modal-footer">
	     	 <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="pushTest()">新建</button>
	         <button type="button" class="btn btn-outline" data-dismiss="modal">取消</button>
	      </div>
	    </div>
  </div>
</div>
