<link rel="stylesheet" type="text/css" href="resource/css/testshow.css" />

<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>
<link rel="stylesheet" type="text/css" href="resource/css/testlist.css" />
<link rel="stylesheet" type="text/css" href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />

<div class="innertest col-md-11" ng-if="showpage==1">
	<h4>您需要招聘的技术岗位</h4>
	<div class="panel panel-default cspanel" >
		<div class="panel-heading">
			<h4>Web开发</h4>
		</div>
		<div class="panel-line">
			<div></div>
		</div>
		<div class="panel-body">
			<div class="item panel panel-default">
				<div class="panel-heading">
					<a href="" ng-click="viewInnQuiz('webFront')">Web前端试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察对html、css、javascript及常用框架Jquery、Bootstrap等知识的掌握程度，并通过编程题考察分析和动手能力。
				    	包括：选择题40道,考试时长70分钟，总分160。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('webFront')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
			    	<a href="" ng-click="viewInnQuiz('java')">Java后端试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察Java服务端开发相关java, spring, hibernate等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题1道，考试时长70分钟，总分200。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('java')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
				  <a href="" ng-click="viewInnQuiz('php')">PHP后端试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察php服务端开发相关php,thinkphp等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题1道，考试时长70分钟，总分200。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('php')">自动生成试题</button>
				</div>
			</div>
			
		</div>
	</div>
	<div class="panel panel-default cspanel" >
		<div class="panel-heading">
			<h4>移动开发</h4>
		</div>
		<div class="panel-line">
			<div></div>
		</div>
		<div class="panel-body">
			<div class="item panel panel-default">
				<div class="panel-heading">
				   <a href="" ng-click="viewInnQuiz('android')">Java后端试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察Android相关android sdk，linux等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题1道，考试时长70分钟，总分160。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('android')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
				   <a href="" ng-click="viewInnQuiz('object_c')">IOS开发试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察IOS相关object-c，swift等知识的掌握程度，并通过编程题考察分析和动手能力。
				    			包括：选择题40道，编程题1道，考试时长70分钟，总分160。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('object_c')">自动生成试题</button>
				</div>
			</div>
			<div class="item panel panel-default">
				<div class="panel-heading">
				    <a href="" ng-click="viewInnQuiz('webFront')">Web App开发试题</a>
				</div>
				<div class="panel-body">
					<p>
						考察Web App开发相关基本技能包括html,css,javascript。 以及一些javascript类库，以及jQuery的掌握成都
				    			包括：选择题40道，考试时长70分钟，总分160。
					</p>
					<button class="btn btn-primary btn-sm pull-right" ng-click="genQuiz('webFront')">自动生成试题</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class=" col-md-11" ng-if="showpage==2">
	

        <div class="testqs">
	        <div class="topbar">
			<div class="type">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span>
				&nbsp;<span ng-bind="name"></span>
			</div>
			<!-- <div>
				40道题，90分钟
			</div> -->
			<div class="invite">
				<button class="btn btn-default" ng-click="goBack()">返回</button>
			</div>
		</div>
				<div class="qslist">
					<div class="listcontent">
						<div class="item header">
							<div class="qsindex">&nbsp;</div>
							<div class="qscontent">试题内容</div>
							<div class="qstype">类型</div>
						</div>
						<div class="scroll">
							<div class="item" ng-repeat="q in qs">
								<div class="qsindex">
									<span ng-bind="'Q'+($index+1)"></span>
								</div>
								<div class="qscontent">
									<div class="content">
										<a href="" 
											ng-click="displayQuestionDetails($index)"
											ng-if="!isDisplay[$index]">
											 <input abstract context={{q.context}} > 
										</a>
										<a href=""
											ng-click="hideQuestionDetails($index)" ng-if="isDisplay[$index]">
											 <input abstract context={{q.context}}> 
										</a>
									</div>
									 <div class="icon">
									 	<a  href=""
											ng-click="displayQuestionDetails($index)"
											ng-if="!isDisplay[$index]">
											<span class="glyphicon glyphicon-chevron-down"></span>	
										</a>
										 <a  href=""
											ng-click="hideQuestionDetails($index)" ng-if="isDisplay[$index]">
											<span class="glyphicon glyphicon-chevron-up"></span>
										</a>
									 </div>
									 
								</div>
								<div class="qstype">
									<input abstract ng-bind="getType(q.type)">
								</div>
								
								<div ng-include src="'page/questiondetail.html'" ng-if="isDisplay[$index]">
								</div>
							</div>
						</div>
					</div>
				</div>	
			    

			<div style="clear:both"></div>
        </div>

       
</div>



