<div class="col-md-10 col-md-offset-1" style="padding: 70px" ng-controller="Excel">
	 <div class="row">
		<p class="col-md-12">邀请人导入，请先<a href="resource/static/invite.xls" style="font-size: 16px">下载</a>模板 </p>
    </div> 
	
	<div class="row">
    	<div class="col-md-12" id="drop">请把模板文件拖动到这里</div>
  	</div>
  	 
    
	<div class="row" style="margin-top: 20px">
	    <div class="col-md-12 highlight" style="max-height: 400px;overflow: auto">
	        <ul class="nav nav-tabs list-group">
	            <li ng-repeat="tl in testlist track by $index"
	                ng-class="{true: 'active', false: 'inactive'}[tl==active]">
	                <a>{{tl}}</a>
	            </li>
	        </ul>
	        <table class="table form-inline">
	            <thead>
	            <tr>
	                <th>姓名</th>
	                <th>Email(必填)</th>
	                <th>手机(短信提醒)</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr ng-repeat="user in xlsusers">
	
	                <td>
	                    <a class="glyphicon glyphicon-remove aa" href="" ng-click="removeOne(user)"></a>
	                    <input class="form-control" type="text"  ng-model="user.username"/>
	                </td>
	                <td><input class="form-control" type="text" value="{{user.email}}" ng-model="user.email"/><span style="color: red;font-size: 20px">&nbsp;*</span></td>
	                <td><input class="form-control" type="text" value="{{user.tel}}" ng-model="user.tel" />
	                    <a class="glyphicon glyphicon-plus aa" href="" ng-click="addOne(user)"></a>
	                </td>
	
	            </tr>
	
	            </tbody>
	        </table>
	    </div>
    </div>
    
    
    <div class="row">
	    <div class=" panel panel-default">
	    <div class="panel-heading">
	       <p><strong>邮件信息</strong></p>
	    </div>
	    
	    <div class="panel-body">
	    	<form class="form-horizontal">
	    		<div class="form-group">
	    			 <label  class="col-sm-2 control-label">考试时长(分钟)</label>
				     <div class="col-md-4">
				       <input type="text" class="form-control"  ng-model="duration" >
				     </div>
	    		</div> 
	    		
	    		<div class="form-group">
	    			 <label  class="col-sm-2 control-label">邮件主题</label>
				     <div class="col-md-4">
				       <label type="text" class="form-control"   ng-bind="subject" ></label>
				     </div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-sm-2 control-label">欢迎语</label>
		    		<div class="col-md-9">
		    		  <label style="width: 80%;height: 80px" ng-bind="content" class="form-control" ></label>
		    		 </div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-sm-2 control-label">是否开启摄像头</label>
		    		<div class="col-md-2">
		    			<select class="form-control" ng-model="camera.selected" 
		    				ng-options="o.id as o.content for o in options">
		    			</select>
		    		</div>
	    		</div>
	    	</form>	  
	    	
	    	 <div class="col-md-6 col-md-offset-8">
	            <button class="btn btn-default" ng-click="clean()">重置</button>
	           <!--  <button class="btn btn-primary">预览</button> -->
	            <button class="btn btn-success" ng-click="sent()">发送</button>
	        </div>
	    	  
	    </div>
	      
	        <!--{{content}}-->
	       
	    </div>
	    </div>
    <!--<button ng-click="btntest()">btntest</button>-->
</div>
<!--  script src="resource/js/xls/excel.js"></script-->
<!--<script src="js/xlsreader.js"></script>-->