 <!-- <link href="resource/css/bootstrap-datetimepicker.min.css" rel="stylesheet"> -->
 <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.14.30/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div class="col-md-10" style="padding: 30px" ng-controller="Excel">

	 <div class="row">
		<p class="col-md-12">你可以通过excel直接导入邀请人，请先<a href="resource/static/invite.xls" style="font-size: 16px">下载</a>模板 </p>
    </div> 
	
	<div class="row">
    	<div class="col-md-12" id="drop">请把模板文件拖动到这里</div>
  	</div>
  	 
    
	<div class="row" style="margin-top: 20px">
	<form>
	    <div class="col-md-12 highlight" style="max-height: 400px;overflow: auto">
	        <ul class="nav nav-tabs list-group">
	            <li ng-repeat="tl in testlist track by $index"
	                ng-class="{true: 'active', false: 'inactive'}[tl==active]">
	                <a>{{tl}}</a>
	            </li>
	        </ul>
	        <table class="table form-inline">
	            <thead>
	            <tr>
	                <th>姓名</th>
	                <th>Email(必填)</th>
	                <th>手机(短信提醒)</th>
	            </tr>
	            </thead>
	            <tbody>
	            <tr ng-repeat="user in xlsusers">
	
	                <td>
	                    <a class="glyphicon glyphicon-remove aa" href="" ng-click="removeOne(user)"></a>
	                    <input class="form-control" type="text"  ng-model="user.username"/>
	                </td>
	                <td><input class="form-control" type="text"  ng-model="user.email"/><span style="color: red;font-size: 20px">&nbsp;*</span></td>
	                <td><input class="form-control" type="text" ng-model="user.tel" />
	                    <a class="glyphicon glyphicon-plus aa" href="" ng-click="addOne(user)"></a>
	                </td>
	            </tr>
	            </tbody>
	        </table>
	    </div>
	</form>
    </div>
    
    
    <div class="row">
	    <div class=" panel panel-default">
	    <div class="panel-heading">
	       <p><strong>邮件信息</strong></p>
	    </div>
	    
	    <div class="panel-body">
	    	<form class="form-horizontal">
	    		<div class="form-group">
	    			 <label  class="col-sm-2 control-label">考试时长(分钟)</label>
				     <div class="col-md-4">
				       <input type="text" class="form-control"  ng-model="duration" >
				     </div>
	    		</div> 
	    		
	    		<div class="form-group">
	    			 <label  class="col-sm-2 control-label">邮件主题</label>
				     <div class="col-md-4">
				       <label type="text" class="form-control"   ng-bind="subject" ></label>
				     </div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-sm-2 control-label">欢迎语</label>
		    		<div class="col-md-9">
		    		  <label style="width: 80%;height: 80px" ng-bind="content" class="form-control" ></label>
		    		 </div>
	    		</div>
	    		<div class="form-group">
		    		<label class="col-sm-2 control-label">是否开启摄像头</label>
		    		<div class="col-md-2">
		    			<select class="form-control" ng-model="camera.selected" 
		    				ng-options="o.id as o.content for o in options">
		    			</select>
		    		</div>
	    		</div>
	    		
	    		<div class="form-group">
		              	<label for="dtp_input1" class="col-sm-2 control-label">开始时间</label>
		              	<div class="col-md-3 input-group date form_datetime" data-data="new Date()"  data-link-field="dtp_input1">
		                  <input class="form-control" size="16" type="text" value="" ng-model="startTime">
		                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						  <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		              	</div>
						<input type="hidden" id="dtp_input1" value="" /><br/>
		        </div>
		        
		        <div class="form-group">
		              	<label for="dtp_input1" class="col-sm-2 control-label">结束时间</label>
		              	<div class="col-md-3 input-group date form_datetime" data-data="new Date()"  data-link-field="dtp_input1">
		                  <input class="form-control" size="16" type="text" value="" ng-model="endTime">
		                  <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
						  <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
		              	</div>
						<input type="hidden" id="dtp_input1" value="" /><br/>
		        </div>
	    		
	    		<div class="col-md-4" style="margin-left: 30px">
			    	
			    </div>
			    <div class="col-md-offset-1 col-md-4">
			    	
			    </div>
	    	</form>	  
	    	
	    	 <div class="col-md-6 col-md-offset-8">
	            <button class="btn btn-default" ng-click="clean()">重置</button>
	           <!--  <button class="btn btn-primary">预览</button> -->
	            <button class="btn btn-success" ng-click="sent()">发送</button>
	        </div>
	    	  
	    </div>
	      
	        <!--{{content}}-->
	       
	    </div>
	    </div>
    <!--<button ng-click="btntest()">btntest</button>-->
</div>


<script src="resource/js/xls/xls.js"></script>
<!-- <script src="resource/js/bootstrap-datetimepicker.min.js"></script> -->

<script src="resource/js/bootstrap-datetimepicker.min.js"></script>
<script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script> -->


<!--  script src="resource/js/xls/excel.js"></script-->
<!--<script src="js/xlsreader.js"></script>-->
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
	$('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
    });
	$('.form_time').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		forceParse: 0
    });
</script>