

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">FindFool</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="http://findfool.com/#/">Home</a>
                    </li>
                    <li>
                        <a href="#">在线题库</a>
                    </li>
                    <li>
                        <a href="#">平台特点</a>
                    </li>
                    <li>
                        <a href="#">联系方式</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="" data-toggle="modal" ng-click="login()">登陆</a>
                    </li>
                    <li>
                        <a data-toggle="modal" ng-click="register('','')">注册</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row clearfix" style="margin-top: 160px">
        <div class="col-md-12">
            <div style="text-align: center;height: 400px;">
                <h1>
                    Find Fool
                </h1>
                <br/>
                <p style="font-size:xx-large">
                   丢掉简历
                <br/>
                    发现最优秀的程序员
                </p>
                <br/>
                <br/>
                <p>
                    <a class="btn btn-primary btn-lg" href="" data-toggle="modal" ng-click="login()">立即登陆</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row clearfix" style="background-color: #edf1f2;padding: 50px 0px;">
        <br/>
        <div style="text-align: center">
            <h1>
                Find Fool 平台特点
            </h1>
            <br/>
            <p style="font-size:x-large; color: #58666e">
                选择我们的理由
            </p>
        </div>
        <br/>
        <div class="col-md-4 column" style="text-align: center">
            <img src="resource/static/character1.png" alt=""/>
            <h2>
                云评测
            </h2>
            <br/>
            <p>
                分布式评测，动态调度，不再担心卡评测给力！
            </p>
        </div>
        <div class="col-md-4 column" style="text-align: center">
            <img src="resource/static/character2.png" alt=""/>
            <h2>
                多题库
            </h2>
            <br/>
            <p>
                精选适合各个类别用户的多套题库，让你有的放矢，不会面对浩瀚题海无从着手。
            </p>
        </div>
        <div class="col-md-4 column" style="text-align: center">
            <img src="resource/static/character3.png" alt=""/>
            <h2>
                天梯模式
            </h2>
            <br/>
            <p>
                独特的天梯训练模式与排名系统，让你短时间内脱颖而出
            </p>
        </div>
        <div class="col-md-12" style="text-align: center">
            <br/>
            <h2>
                开启您的全新招聘之旅
            </h2>
            <br/>
            <br/>
            <p>
                <a class="btn btn-primary btn-lg" data-toggle="modal" ng-click="register('','')">立即注册</a>
            </p>
            <br/>
            <br/>
        </div>
    </div>
    <br/>
    <div class="row clearfix">
        <div class="text-center">
            <h2>开发团队成员</h2>
        </div>
        <br/>
        <div class="col-md-4 column text-center">
            <img src="resource/static/member1.jpg" alt="" style="text-align: center;width: 60px;height: 60px;border-radius: 50%;"/>
            <h2>
                方维
            </h2>
            <p>
                .......！
            </p>
        </div>
        <div class="col-md-4 column text-center">
            <img src="resource/static/member2.jpg" alt="" style="width: 60px;height: 60px;border-radius: 50%;border-color: lawngreen;"/>
            <h2>
                玉站
            </h2>
            <p>
                ......
            </p>
        </div>
        <div class="col-md-4 column text-center">
            <img src="resource/static/member3.jpg" alt="" style="width: 60px;height: 60px;border-radius: 50%;border-color: lawngreen;"/>
            <h2>
                藤蔓
            </h2>
            <p>
                ......
            </p>
        </div>
    </div>
    <div class="row clearfix" style="background-color: #edf1f2;padding: 30px 0px;margin-top:20px;">
        <div class="col-md-offset-2 col-md-4  text-center">
            <button class="btn btn-default btn-lg" style="padding: 0px;"><img src="resource/static/android.png" alt=""/></button>
            <br/>
            <br/>
            <button class="btn btn-default btn-lg" style="padding: 0px;"><img src="resource/static/iphone.png" alt=""/></button>
        </div>
        <div class="col-md-4 text-center">
            <h2>传说中的手机客户端</h2>
            <br/>
            <p>
               	 正在开发&内测中……
            </p>
        </div>
    </div>

    
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
 
	    
    <div class="row clearfix" style="background-color: rgb(35,183,229);padding: 30px;margin-bottom:40px;">
        <div class="col-md-6 text-center" style="font-size:x-large;">
            <p>心动了吗?心动不如行动！</p>
        </div>
        <div class="col-md-6 text-center">
            <button class="btn btn-success btn-lg" data-toggle="modal" ng-click="register('','')">立即注册</button>
        </div>
    </div>
    <div class="row clearfix" style="margin-bottom:30px;">
        <div class="col-md-offset-1 col-md-3">
            <h3>加入我们</h3>
            <p>如果你熟悉<br/>
                JavaEE, Nginx, AngularJS, Javascript, CSS<br/>
                中的任何一种技术<br/>
                那么赶快加入CODEVS开发团队吧！<br/><br/>
                发送你的简介到service@findfool.com
            </p>
        </div>
        <div class="col-md-2">
            <h3>联系方式</h3><br/>
            <p>问题建议: service@findfool.com</p>
            <p>加入我们: service@findfool.com</p>
        </div>
        <div class="col-md-2 text-center">
            <h3>关注我们</h3><br/>
            <img src="resource/static/contact.png" alt=""/>
        </div>
        <div class="col-md-3">
            <h3>邮件订阅</h3><br/>
            <p>不想错过任何更新? 请订阅我们</p>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入您的邮箱">
                        <a class="input-group-addon btn btn-primary">订阅</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row clearfix" style="text-align: center; background-color: #edf1f2; line-height: 60px; font-size: medium;">
        <div class="col-md-4 col-md-offset-2">© 2014 findfool Company, Inc. ·沪ICP备14039106-3号 </div>
        <div class="col-md-4 col-md-offset-2"><a href="#" style="color: dodgerblue">service@findfool.com</a></div>
    </div>
</div>
