<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>
<!-- 接受read， -->
<div class="modal-header">
            <h3 class="modal-title" >{{title}}</h3>
        </div>

        <div class="modal-body">
        	<!-- div class="row">
	       	    <form class="form-horizontal" role="form">
		        	<div class="from-group">
		        		<label class="control-label col-md-2">试题名称</label>
		        		<div class="col-md-4">
		        			<input class="form-control" type="text" ng-model="question.name">
		        		</div>
		        	</div>	
	        	</form>
        	</div-->
			
				<div class="col-md-12" style="margin-top: 20px">
		       	  	<textarea ckeditor minheight="120" width="100%" operation={{operation}} ng-model="question.context"></textarea>
		       	</div>  
		  
		    

			<div class="options list col-md-12 col-sm-12  col-xs-12" >
		       	  <label customcheckbox option={{option}} class='optionlabel checkbox'  ng-repeat="option in question.answer" operation={{operation}}>
		       	    <textarea ckeditor  minheight="70" width="90%" operation={{operation}} class='optiontext'   ng-model="option.text"></textarea>
		       	     <!--  input type="checkbox"-->
		       	  </label>
		    </div>

			<div style="clear:both"></div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveQustion()">保存</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>