<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>
<!-- 接受read， -->

<div class="modal-header" style="background-color: #374652">
<button type="button" class="close"  ng-click="cancel()"><span aria-hidden="true" style="color:#1abc9c">&times;</span><span class="sr-only">Close</span></button>
            <span class="modal-title" style="font-size:16px;color:#1abc9c">{{title}}</span>
            
        </div>

        <div class="modal-body">
			
				<div class="col-md-12" style="margin-top: 20px">
		       	  	<textarea ckeditor minheight="120" width="100%" operation={{operation}} ng-model="question.context"></textarea>
		       	</div>  
		  
		    

			<div class="options list col-md-12 col-sm-12  col-xs-12" >
		       	  <label  customcheckbox option={{option}} class='optionlabel checkbox'  ng-repeat="option in question.answer" operation={{operation}} 
		       	  	index={{$index}} rightanswer={{question.rightanswer}} useranswer={{question.useranswer}} >
		       	  	<span class='icon'></span><span class='icon-to-fade'></span>
		       	    <textarea ckeditor  minheight="70" width="90%" operation={{operation}} class='optiontext'   ng-model="option.text"></textarea>
		       	     <!--  input type="checkbox"-->
		       	  </label>
		    </div>

			<div style="clear:both"></div>
        </div>

        <div class="modal-footer" >
            <button class="btn btn-primary" ng-if="operation=='edit'" ng-click="saveQustion()">保存</button>
            <button class="btn btn-warning" ng-click="cancel()">取消</button>
        </div>
