<link rel="stylesheet" type="text/css" href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />
<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>


<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 mytesttab"  >
<div class=" panel panel-default black-panel">
<div class="panel-heading">
  <span >我的试题</span>
  <!-- <button type="button" class="btn btn-primary pull-right" style="margin-right: 20px" ng-click="showAddPage(active)">新增试题</button>  -->
 
  <div class="btn-group pull-right" style="margin-right: 20px">
	  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
	    新增试题 <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="" ng-click="showAddPage(1)">选择题</a></li>
	    <li><a href="" ng-click="showAddPage(3)">简答题</a></li>
	  </ul>
 </div>
  
  <button type="button" class="btn btn-sm btn-outline pull-right" style="margin-right: 20px"  data-toggle="modal" data-target="#importModal" ng-click="showImportPage()">导入试题</button>
  <div style="clear: both;"></div>
</div>
<div class="panel-body" style="padding-left: 0px;padding-right: 0px">
 	<div class="row" style="margin-left: 30px;margin-right: 30px">
	   <ul class="nav nav-pills list-group col-md-6 col-xs-6"  >
	        <li ng-repeat="tt in Qtype"
	            ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
	            <a href="" class='blackFont' ng-click="GoPage(tt.data)" ng-bind="tt.name"></a>
	        </li>
	    </ul>
    
    	<form class="form-inline col-md-6 pull-right"  role="form" ng-if="0" >
            <input type="text" ng-model="reciveData.keyword" class=" col-md-8">
            <button class="btn btn-default col-md-3"  ng-click="queryQuestions(1)" style="margin-left: 10px">搜索</button>
        
        </form>
        
         
    </div>
    
    <div  ng-class="{0:'hedden', 1: ''}[show]">
         <div class="table-responsive">
			   <table class="table table-striped">
			        <thead>
				        <tr>
				            <th>试题内容</th>
				            <th>操作</th>
				        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="q in reciveData.questions">
			            <td abstract context={{q.context}}></td>
			            <td>
			                <a class="blackFont" href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'view','title':'查看试题'})">查看</a>
			                <a class="blackFont" href="" ng-click="addQuestionToTest(q,$event)" ng-if="!isAdded(q.qid)&&test.addAction">/增加</a>
			                <a class="blackFont" href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'edit','title':'修改试题'})">/修改</a>
			                
			                <a  ng-if="isAdded(q.qid)">已添加</a>
			                <!--  a href="" ng-click="deleteQuestion(q)">删除</a-->
			            </td>
			        </tr>
			        </tbody>
			    </table>      
		   </div>

     
        <ul class="pagination" style="margin-left: 20px">
            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)">&laquo;</a></li>
            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)">{{i.index}}</a></li>
            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)">&raquo</a></li>
        </ul>
        <div style="margin-left: 20px">
           
        </div>
    </div>

    <!--<h1>{{active==1}}</h1>-->
    <div ng-class="{0:'', 1: 'hedden'}[show]">  
    
        <div class="col-md-10" ng-if="active==1">
            
            <div class="row" style="margin-top: 30px;margin-left: 50px">
               		<p>题干</p>
		            <form class="form-inline" role="form">
		                <!--<textarea class="form-control" type="text" rows=9 style="width: 100%;resize: none"-->
		                          <!--ng-model="newQuestion.context"></textarea>-->
		                <!--<div ng-include src="'mdeditor.html'" ></div>-->
						<textarea simditor minheight="60px" ng-model="newQuestion.context"></textarea>
						<!-- textarea ng-model="newQuestion.context"></textarea-->
		                <div class="hedden" id="context" >{{context}}</div>
		                <div class="row">
			                <div class="col-md-4" style="padding: 20px">标签(以,区分)
			                    <input type="text" id="tag" class="form-control" ng-model="newQuestion.tag">
			                </div>
			                <div class="col-md-4" style="padding: 20px">分数
			                     <input type="text"  class="form-control" ng-model="ans.score" ng-change="isNum(ans.score)">
			                </div>
		                </div>
		                <div class="row">
			                <div class="col-md-6">
			                	<button class="btn btn-outline" ng-click="addOne()">新增选项</button>
			             	</div>
		             	</div>
		             	
		                <ul style="margin-top: 30px;list-style-type:none">
		                    <li ng-repeat="ans in newQuestion.answer" style="margin-top: 30px">
		                        <textarea simditor minheight="30px" ng-model="ans.text"></textarea>
		                       
		                        <a data="{{$index}}" class="glyphicon glyphicon-remove aa" href=""
		                           ng-click="removeOne($index)">删除</a>
		                        <input style="width:5%" type="checkbox" ng-model="ans.isright">是否正确
		                    </li>
		                </ul>
		                <div  style="padding-top: 70px">
		                    <button class="btn btn-primary " ng-click="addQuestion()">保存</button>
		                    <button class="btn btn-primary" ng-click="resetQuestion()">重置</button>
		                    <button class="btn btn-primary" ng-click="cancel()">取消</button>
		                </div>
		            </form>
	          </div>  
        </div>
        
        <div ng-if="active==2">
            
            <form class="form-horizontal" role="form">
               <div class="form-group">
				    <label  class="col-sm-2 control-label">标题</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" ng-model="newQuestion.name" placeholder="标题">
				    </div>
			   </div>
			   
			    <div class="form-group">
				    <label  class="col-sm-2 control-label">题干</label>
				    <div class="col-sm-10">
				      <textarea ckeditor minheight="240" width="100%" operation={{operation}} ng-model="newQuestion.context"></textarea>
				    </div>
			   </div>
			   
			    <div class="form-group">
				    <label  class="col-sm-2 control-label">标签(以 , 区分)</label>
				    <div class="col-sm-4">
				      <input type="text" class="form-control" ng-model="newQuestion.tag" placeholder="标签">
				    </div>
			   </div>
	           
                
                <div class="form-group">
				    <label  class="col-sm-2 control-label"></label>
				    <div class="col-sm-4">
				      <button class="btn btn-primary"  ng-click="addOne()">新增测试用例</button>
				    </div>
			   </div>
                
              
                
                <div style="list-style-type:upper-alpha;" ng-class="{true:'', false: 'hedden'}[newQuestion.show]"  ng-repeat="ans in newQuestion.answer">
                    
                     <div class="form-group">
					    <label  class="col-sm-2 control-label">输入</label>
					    <div class="col-sm-8"> 
					     <input type="text"  class="form-control"  ng-model="ans.text">
					    </div>
			   		</div>
			   		
                     <div class="form-group">
					    <label  class="col-sm-2 control-label">输出</label>
					    <div class="col-sm-8">
					       <input type="text"  class="form-control"  ng-model="ans.isright">
					    </div>
			   		</div>
			   		
			   		 <div class="form-group">
					    <label  class="col-sm-2 control-label">分数</label>
					    <div class="col-sm-1">
					        <input type="text"   class="form-control col-sm-1" ng-model="ans.score" ng-change="isNum(ans.score)" />
					    </div>
					    <div class="col-sm-2">
					      <button class="btn btn-outline"   ng-click="removeOne($index)">删除测试用例</button>  	
					    </div>
			   		</div>
		           </div>

               

				<!-- div class="btn-group-justified">
					<p>语言选择</p>
	                <ul>
	                    <input type="radio">C
	                    <input type="radio">Java
	                </ul>
				</div-->

                <div class="col-xs-6 col-xs-offset-2">
                    <a class="btn btn-primary " ng-click="addQuestion()">保存</a>
                    <a class="btn btn-primary" ng-click="resetQuestion()">重置</a>
                    <a class="btn btn-primary" ng-click="cancel()">取消</a>
                </div>
            </form>
        </div>
        
        
        <div ng-if="active==3">
        
            <form class="form-horizontal" role="form">
				  <div class="form-group">
				    <label  class="col-sm-2 control-label">试题内容</label>
				    <div class="col-sm-8">
				      	<textarea class="form-control" simditor minheight="150px" ng-model="newQuestion.context"></textarea>
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label  class="col-sm-2 control-label">标签(以 , 区分)</label>
				    <div class="col-sm-6">
				      	<input class="form-control" ng-model="newQuestion.tag"></input>
				    </div>
				  </div>
				  
				   <div class="form-group">
				    <label  class="col-sm-2 control-label">分数</label>
				    <div class="col-sm-4">
				      	<input class="form-control" ng-model="newQuestion.score"></input>
				    </div>
				  </div>
				  
				  <div class="col-md-offset-1"  style="padding-top: 70px">
                    <button class="btn btn-primary " ng-click="addQuestion()">保存</button>
                    <button class="btn btn-primary" ng-click="resetQuestion()">重置</button>
                    <button class="btn btn-primary" ng-click="cancel()">取消</button>
		          </div>
			</form>
        
            
        </div>
    </div>
</div>
</div>
</div>

<div class="modal fade" id="importModal" tabindex="0" role="dialog" aria-labelledby="PriceLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                自定义试题导入
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" style="min-height: 380px">
               <h3>请先下载<a href="resource/static/importtemplate.xls">模板</a></h3>
               <p>导入试题用于通过excel的方式导入用户自己的试题，便于企业用户建立自己的题库，开展测试</p>
               <div class="btn btn-primary" style="margin-top: 100px;margin-left: 150px"  upload-button header ={{token.data}}
    	          url="/oj/upload" on-success="onSuccess(response)">Upload</div>
            </div>
        </div>
    </div>
</div>

