<link rel="stylesheet" type="text/css" href="resource/css/preparetest.css"/>


<div>
   <div class="container-fluid" ng-if="show==1">
   	 <form class="form-horizontal col-md-8 col-md-offset-3" style="margin-top: 100px" role="form">
   	 	  <div class="row">
	   	 	 <div class="col-md-6 col-md-offset-2" >
	   	 	 	<h5>您好</h5>
	   	 	 	<h5>非常荣幸邀请您参加这次测试</h5>
	   	 	 	<h5>请输入邮件中的测试密码</h5>
	   	 	 </div>
   	 	  </div>
   	 	  
   	 	  
   	 	   <div class="form-group" style="margin-top: 20px">
		    <label  class="col-sm-2 control-label">用户名</label>
		    <div class="col-sm-4 control-label">
		      <p ng-bind="email" class="pull-left"></p>
		    </div>
		  </div>
   	 	
		   <div class="form-group">
		    <label  class="col-sm-2 control-label">测试密码</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="loginUser.pwd" placeholder="测试密码">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label  class="col-sm-2 control-label"></label>
		    <div class="col-sm-4">
		      <p ng-bind="errMsg"></p>
		    </div>
		  </div>
		  
		  <div class="col-xs-2 col-md-2 col-md-offset-3">
		  	<button class="btn btn-primary" ng-click="login()">提交</button>
		  </div>
   	  </form>
   </div>
   
   
     
    
   <div class="container-fluid" style="margin-top: 50px" ng-show="show==2">
     <div class="col-md-3 col-md-offset-4" ng-show="showCZone==1||showCZone==2">
		 <div   ng-show="openCamera==0"><span style="color: red">*&nbsp;照片不能为空，请拍摄您的照片</span></div> 
		 <!-- <div   ng-show="openCamera==2"><span style="color: red">*&nbsp;建议开启摄像头，让企业更好的认识自己</span></div>  -->
		 <div  style="margin-top: 10px" class="cameraIcon"  ng-show="showCZone ==1">  
		     <p style="margin-top: 10%">点击以开启摄像头</p>    
		     <img id="showBtn" class="img-responsive cameraBtn" ng-click="showVideo()" style="height: 100px;text-align: center;"  src="resource/static/cameraicon.png">
		        
	     </div>

	     <div style="margin-top: 10px;width: 130px;">
	     	<p tooltip="所拍照片会显示在测试报告上，提高测试成绩的可信度" tooltip-placement="right">为什么要拍照片</p>
	        <p tooltip="检测不到摄像头？如果电脑没有摄像头或摄像头损坏，请更换具有摄像功能的电脑;拍的照片不清晰？尽量将头像显示在摄像头中间，并保证室内具有良好的光环境" tooltip-placement="right">拍照遇到问题怎么办</p> 
	     </div>
    
       	  <div id="cameraZone" ng-show="showCZone==2" style="margin-top:50px">
			  <video  ng-show="monitor==1" id="video" width="320" height="240" autoplay>
			  </video>       
			  <canvas ng-show="monitor==2" camera id="canvas" width="320" height="240">
			  </canvas>
		  </div>
		  
		  <div ng-show="btn.Show==1&&showCZone==2" style="margin-top: 20px">
		     <span class="text-success">请先拍照</span>
		     <button class="btn btn-primary" style="margin-left: 5px" ng-click="takePicture()">拍照</button>  
		  </div>
		  
		   <div ng-show="btn.Show==2" style="margin-top: 20px">
		     <button class="btn btn-primary" style="margin-left: 15px" ng-click="updatePicture()">使用该照片</button>  
		     <button class="btn btn-primary" style="margin-left: 15px" ng-click="cancelPicture()">重新拍摄</button>  
		  </div>
		 
		  
     </div>

    <div class=" col-md-4 col-md-offset-3" style="margin-top:30px;padding-left: 80px">
     <h5>请完善下列信息开始考试</h5>
   	 <form class="form-horizontal"  role="form">
		   <div class="form-group" ng-repeat="user in userInfo">
		         <input type="text" class="form-control txt-large" placeholder="{{user.labelname}}" ng-model="user.value">
			   <!--  <label  class="col-sm-2 control-label">{{user.labelname}}</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" ng-model="user.value" placeholder="{{user.labelname}}">
			    </div> -->
		    </div>
		     <p class="alert" ng-bind="errMsg"></p>
		   <!-- <div class="form-group">
		    <label  class="col-sm-2 control-label"></label>
		    <div class="col-sm-4">
		      <p class="alert" ng-bind="errMsg"></p>
		    </div>
		  </div> -->
		 
	
		  <div class="form-group">
		  	<button class="btn btn-primary btn-lg btn-block" ng-click="submitUserInfo()">提交</button>
		  </div>
   	  </form>
   </div>
   </div>
   
   
    <form class="form-horizontal col-md-8 col-md-offset-3" style="margin-top: 100px" ng-if="show==3">
   	 	  <div class="row">
	   	 	 <div class="col-md-6 col-md-offset-1" >
	   	 	 	<h5>即将开始测试</h5>
	   	 	 	<h5>请确保你处于一个无打扰，安静的环境</h5>
	   	 	 	<h4>测试时间为{{testInfo.duration}}分钟</h4>
	   	 	 	<h4>选择题：<span class="text-success" ng-bind="testInfo.optionNum"></span></h4>
	   	 	 	<h4>编程：<span class="text-success" ng-bind="testInfo.programNum"></span></h4>
	   	 	 	<h4>问答题：<span class="text-success" ng-bind="testInfo.essayNum"></span></h4>
	   	 	 	<h5>请独立完成所有的试题，请不要尝试借助于其它任何手段，否则将被以作弊论处</h5>
	   	 	 </div>
   	 	  </div>
		  
		  <div style="margin-top: 20px" class="col-xs-2 col-md-2 col-md-offset-3">
		  	<button class="btn btn-primary" ng-click="startTest()">开始</button>
		  </div>
   	  </form>
   	  
   	 <div ng-include src="'page/testing.html'"  ng-if="show==4"></div>
   	 <!-- 测试完成 -->
   	  <div ng-include src="'page/testend.html'"  ng-if="show==5"></div>
   	  
   	   <div class="col-md-8 col-md-offset-2" style="height: 300px;margin-top: 200px;margin-left: 400px" ng-if="show==6">
	      	<h2>测试尚未开始，请耐心等待</h2>
	   </div>  
	   
	   <div class="col-md-8 col-md-offset-2" style="height: 300px;margin-top: 200px;margin-left: 400px" ng-if="show==7">
	      	<h2>测试已截至</h2>
	   </div>  
		

</div>

<script src="resource/js/controller/cameraController.js"></script>