<link rel="stylesheet" type="text/css" href="resource/css/preparetest.css"/>
<script src="resource/js/des.js"></script>

<div>
   <div class="container-fluid" ng-if="show==1">
   	 <form class="form-horizontal col-md-8 col-md-offset-3" style="margin-top: 100px" role="form">
   	 	  <div class="row">
	   	 	 <div class="col-md-6 col-md-offset-1" >
	   	 	 	<h4>说明</h4>
	   	 	 	<h4>这是编程测试</h4>
	   	 	 	<h4>请输入邮件中的密码，以及你的邮箱地址</h4>
	   	 	 </div>
   	 	  </div>
   	 	
		  <div class="form-group row">
		    <label  class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="loginUser.email" placeholder="Email">
		    </div>
		  </div>
		  
		   <div class="form-group">
		    <label  class="col-sm-2 control-label">密码</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="loginUser.pwd" placeholder="密码">
		    </div>
		  </div>
		  
		  <div class="form-group">
		    <label  class="col-sm-2 control-label"></label>
		    <div class="col-sm-4">
		      <p ng-bind="errMsg"></p>
		    </div>
		  </div>
		  
		  <div class="col-xs-2 col-md-2 col-md-offset-3">
		  	<button class="btn btn-primary" ng-click="login()">提交</button>
		  </div>
   	  </form>
   </div>
   
   
    <div class="container-fluid" ng-if="show==2">
   	 <form class="form-horizontal col-md-8 col-md-offset-3" style="margin-top: 100px" role="form">
   	 	  <div class="row">
	   	 	 <div class="col-md-6 col-md-offset-1" >
	   	 	 	<h4>个人信息</h4>
	   	 	 </div>
   	 	  </div>
   	 	
		  <div class="form-group row">
		    <label  class="col-sm-2 control-label">姓名</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="tuser.username" placeholder="姓名" required>
		    </div>
		  </div>
		  
		  <!--  <div class="form-group">
		    <label  class="col-sm-2 control-label">学校</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="tuser.school" ui-event="{autocompletecreate:'changeClass(schoolOption)'}" ui-autocomplete="schoolOption" placeholder="学校">
		      <angucomplete-alt id="schools"
	              placeholder="学校"
	              minlength="2"
	              pause="400"
	              selected-object="tuser.school"
	              remote-url="/oj/testing/getSchools?email={{email}}&testid={{tid}}&name={{tuser.school}}"
	              remote-url-data-field="message"
	              title-field="name"
	              search-field="name"
	              match-class="bg-info"
	              input-class="form-control"/>
		    </div>
		  </div> -->
		  
		   <div class="form-group">
		    <label  class="col-sm-2 control-label">博客</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="tuser.blog" placeholder="博客，github等" required>
		    </div>
		  </div>
		  
		   <div class="form-group">
		    <label  class="col-sm-2 control-label">电话</label>
		    <div class="col-sm-4">
		      <input type="text" class="form-control" ng-model="tuser.tel" placeholder="电话" required>
		    </div>
		  </div>
		  
		   <div class="form-group">
		    <label  class="col-sm-2 control-label"></label>
		    <div class="col-sm-4">
		      <p ng-bind="errMsg"></p>
		    </div>
		  </div>
		 
		  
		  <div class="col-xs-2 col-md-2 col-md-offset-3">
		  	<button class="btn btn-outline" ng-click="submitUserInfo()">提交</button>
		  </div>
   	  </form>
   </div>
   
   
    <form class="form-horizontal col-md-8 col-md-offset-3" style="margin-top: 100px" ng-if="show==3">
   	 	  <div class="row">
	   	 	 <div class="col-md-6 col-md-offset-1" >
	   	 	 	<h4>即将开始测试</h4>
	   	 	 	<h4>请确保你处于一个无打扰，安静的环境</h4>
	   	 	 	<h4>测试时间为{{testInfo.duration}}分钟</h4>
	   	 	 	<h4>选择题：<span class="text-success" ng-bind="testInfo.optionNum"></span></h4>
	   	 	 	<h4>编程：<span class="text-success" ng-bind="testInfo.programNum"></span></h4>
	   	 	 	<h4>问答题：<span class="text-success" ng-bind="testInfo.essayNum"></span></h4>
	   	 	 	<h4>请独立完成所有的试题，请不要尝试借助于其它任何手段，否则将被以作弊论处</h4>
	   	 	 </div>
   	 	  </div>
		  
		  <div class="col-xs-2 col-md-2 col-md-offset-3">
		  	<button class="btn btn-primary" ng-click="startTest()">开始</button>
		  </div>
   	  </form>
   	  
   	 <div ng-include src="'page/testing.html'"  ng-if="show==4"></div>
   	 <!-- 测试完成 -->
   	  <div ng-include src="'page/testend.html'"  ng-if="show==5"></div>

</div>