<div class="text-center container" style="padding: 70px">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-md-6">
                <input class="form-control" type="email" ng-model="email"  readonly>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-sm-2 control-label">公司</label>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="company"  readonly>
            </div>
        </div>
        
         <div class="form-group">
            <label class="col-sm-2 control-label">联系电话</label>
            <div class="col-md-6">
                <input class="form-control" type="tel" ng-model="tel"  readonly>
            </div>
        </div>
      
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-md-2">
               <button class="btn btn-primary" ng-click="showPwd()">修改密码</button>
            </div>
        </div>
        
        <div class="form-group" >
            <label class="col-sm-2 control-label">旧密码</label>
            <div class="col-md-6">
                <input class="form-control" type="password" ng-model="oldPwd"  ng-maxlength=20 ng-minlength=6 >
            </div>
        </div>
        
        
        <div class="form-group" >
            <label class="col-sm-2 control-label">新密码</label>
            <div class="col-md-6">
                <input class="form-control" type="password" ng-model="newPwd"  ng-maxlength=20 ng-minlength=6 >
            </div>
        </div>
        
        
         <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-md-6">
               <button class="btn btn-primary" ng-click="showPwd()">保存</button>
               <button class="btn btn-primary" ng-click="showPwd()">取消</button>
            </div>
        </div>
        
        
       

        <div class="col-md-12 text-center" style="padding: 30px">
            <button class="btn btn-default" ng-click="sendInfo(name,company,tel,pwd,newpwd)">保存</button>
            <button  ng-class="{true:'btn btn-default', false: 'hedden'}[renewpasswd==0]" ng-click="renewPWD()">修改密码</button>
            <button  ng-class="{true:'btn btn-default', false: 'hedden'}[renewpasswd==1]" ng-click="renewPWD()">不修改密码</button>

        </div>
    </form>
</div>