<div class="col-md-10 col-md-offset-1" style="margin-top: 20px;">
		<textarea simditor minheight="60px"  operation="view"
		ng-model="q.context"></textarea>
</div>
<div class="options col-md-offset-1 list col-md-10 col-sm-10  col-xs-10" ng-if="q.type == 1">
	<label customcheckbox option={{option}}
		class='optionlabel checkbox' ng-repeat="option in q.answer"
		operation="view" index={{$index}} rightanswer={{q.rightanswer}}
		useranswer={{q.useranswer}}> 
		<span class='icon'></span><span class='icon-to-fade'></span>
		<textarea simditor
		minheight="30px" operation="view" class='optiontext' 
		ng-model="option.text"></textarea> 
	</label>
</div>
<div style="clear: both;"></div>