<div class="col-xs-6 col-xs-offset-3 " ng-controller="sign">
    <div class="col-xs-4 col-md-offset-3 col-xs-offset-1">
        <a id="logo" class="navbar-brand" href="." title="XXXOJ">
            <img width="200px" height="60px"
                 src="../resource/static/logo.png"
                 alt="XXXOJ"> </a>
    </div><br><br><br><br><br>
    <div class="col-md-12 highlight" >
        <ul class="nav nav-tabs nav-justified">
            <!--<ul class="nav nav-tabs" ng-model="template" ng-options="t.name for t in templates">-->
            <li ng-class="{0: 'active', 1: 'inactive'}[active]">
                <a href data="0" ng-click="GoPage($event.target)">
                    Sign Up</a>
            </li>
            <li ng-class="{1: 'active', 0: 'inactive'}[active]">
                <a href data="2" ng-click="GoPage($event.target)">
                    Log In</a>
            </li>
        </ul>
        <div ng-class="{0: '', 1: 'hedden'}[active]" style="padding: 20px;height: 300px">
            <form role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwd" placeholder="密码">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="repasswd" placeholder="重复密码">
                </div>
         <!--       <div class="form-group">
                    <div class="col-md-4 col-md-offset-1">
                        <input type="text" class="form-control" id="Verification" placeholder="请输入右框中的数字">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <a href="renew">
                            <img src="static/logo.png" alt="验证问题" style="height: 40px;width: 200px">
                        </a>
                    </div>
                </div>-->

                <div class="form-group" >
                    <button type="button" class="btn btn-success btn-lg center-block " style="width: 60%;">
                        注册
                    </button>
                </div>
            </form>

        </div>
        <div ng-class="{1: '', 0: 'hedden'}[active]" style="padding: 20px;height: 300px">
            <form role="form">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="passwd" placeholder="密码">
                </div>
                <div class="form-group">
                    <input type="checkbox"> Remember me
                    <div class="pull-right">
                        <a href="#">Forget your password?</a>
                    </div>
                </div>

                <div class="form-group"><br>
                    <button type="button" class="btn btn-success btn-lg center-block " style="width: 60%;">
                        登录
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>
