<link rel="stylesheet" type="text/css"
	href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />
<link rel="stylesheet" type="text/css"
	href="resource/css/mymodalcontent.css" />


<div class="testqs">
	<div class="topbar">
		<div class="type">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			&nbsp;<span ng-bind="name"></span>
		</div>
		<!-- <div>
			40道题，90分钟
		</div> -->
		<div class="invite">
			<a href="#/invite" class="btn btn-default">发送邀请</a>
		</div>
	   </div>
	   
	  
		<form class="form-horizontal">
		   <div style="margin-left: 50px;margin-top: 30px" class="form-group">
		     <h4>设为公开挑战</h4>
		     <p>可以将您的试卷变成公开挑战，生成对应的链接，并放置与您公司主页等位置，来吸纳更多的人参与测试</p>	
		   </div>
		   
		
			<div  class="form-group">
			<div class="form-group" style="margin-top:20px">
				<label class="col-sm-2 control-label">上传竞赛图片</label>
				<div style="margin-top: 10px" class="btn btn-primary" upload-button
					header={{tid}} url="test/uploadimg"
					on-success="onSuccess(response)">上传竞赛图片
				</div>
			</div>

			<div class="form-group" style="margin-top:20px">
				<div style=" margin-top:10px" class="form-group">
					 <label  class="col-sm-2 control-label">竞赛描述:&nbsp;</label>
					 <div class="col-md-8">
					    <textarea simditor minheight="150px" operation="edit"  ng-model="test.tail"></textarea>
					 </div>
					 
				</div>
			</div>

				<div class="form-group" style="margin-top:20px">
					<label for="dtp_input1" class="col-sm-2 control-label">开始时间</label>
					<div class="col-md-4 input-group date form_datetime"
						data-data="new Date()" data-link-field="dtp_input1">
						<input class="form-control" size="16" type="text" value=""
							ng-model="time.startTime"> <span class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input1" value="" />
				</div>
	
				<div class="form-group">
					<label for="dtp_input1" class="col-sm-2 control-label">结束时间</label>
					<div class="col-md-4 input-group date form_datetime"
						data-data="new Date()" data-link-field="dtp_input1">
						<input class="form-control" size="16" type="text" value=""
							ng-model="time.endTime"> <span class="input-group-addon"><span
							class="glyphicon glyphicon-remove"></span></span> <span
							class="input-group-addon"><span
							class="glyphicon glyphicon-th"></span></span>
					</div>
					<input type="hidden" id="dtp_input1" value="" /><br />
				 </div>


				<div class="col-md-12" style="margin-top: 20px; margin-bottom: 10px; margin-left: 100px;">
					
					<p ng-if="publictest.flag==1">
						挑战赛地址：<span ng-bind="publictest.url"></span>
					</p>
					<button class="btn btn-primary"
						ng-click="setPublicConfig()">保存设置</button>
					<button class="btn btn-primary" ng-if="publictest.flag==0"
						ng-click="setPublic()">设为公开挑战赛</button>
					<button class="btn btn-primary" ng-if="publictest.flag==1"
						ng-click="setPublic()">设为私有测试</button>
					</span>

				</div>


				
		</form>
	</div>
<h4>&nbsp;</h4>
				
</div>

</body>

<script src="resource/js/bootstrap-datetimepicker.min.js"></script>
<script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script>

<!-- <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.14.30/js/bootstrap-datetimepicker.min.js"></script>
<script src="resource/js/bootstrap-datetimepicker.zh-CN.js"></script> -->


<!--  script src="resource/js/xls/excel.js"></script-->
<!--<script src="js/xlsreader.js"></script>-->
<script type="text/javascript">
	$('.form_datetime').datetimepicker({
		language : 'zh-CN',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		forceParse : 0,
		showMeridian : 1
	});
	$('.form_date').datetimepicker({
		language : 'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 2,
		minView : 2,
		forceParse : 0
	});
	$('.form_time').datetimepicker({
		language : 'fr',
		weekStart : 1,
		todayBtn : 1,
		autoclose : 1,
		todayHighlight : 1,
		startView : 1,
		minView : 0,
		maxView : 1,
		forceParse : 0
	});
</script>