<link rel="stylesheet" type="text/css" href="resource/css/testshow.css" />

<div class="container-fluid" >
    <!-- a href="#/invite">invite</a-->
    <div class="col-md-offset-8" style="padding-left:-20px;margin-top:20px;margin-bottom: 20px;pad" ng-if="guide.show==0">
      不知道怎么用？
      <button class="btn btn-outline" ng-click="panel.isGuide=false;panel.body=1;guide.show=1"  >我要招聘</button>
    </div>
    
    <div class="col-md-9 col-md-offset-1" ng-if="guide.show==1">
    <div class="panel panel-default black-panel" >
	  <div class="panel-heading">
	  	  用户引导
	      <a href=""  ng-click="guide.show=0"><span class="glyphicon glyphicon-remove pull-right"></span></a>
	  </div>
	  <div class="panel-body skill-board" >
	      <a  class="blackFont" href="" ng-click="viewGuideModal('webFront')" style=" position: absolute;top:17%;left: 60%"> WEB前端</a>
	         
	      <span  tooltip-placement="bottom" tooltip="{{guideTxt.webDevelope}}"  style=" position: absolute;top:28%;left: 40%"> WEB开发</span>
	      <span  tooltip-placement="bottom" tooltip="{{guideTxt.webBase}}" 
	         style=" position: absolute;top:28%;left: 60%"> WEB后台</span>
	      <a href=""  class="blackFont" style=" position: absolute;top:22%;left: 80%" ng-click="viewGuideModal('java')"> JAVA </a>
	      <a href="" class="blackFont" style=" position: absolute;top:34%;left: 80%"  ng-click="viewGuideModal('php')"> PHP </a>
	      <a href="" class="blackFont" style=" position: absolute;top:39%;left: 60%" ng-click="viewGuideModal('allStack')"> 全栈程序员 </a>
	      <span  tooltip-placement="top" tooltip="{{guideTxt.IOS}}" 
	        style=" position: absolute;top:53%;left: 40%"> IOS开发</span>
	      <a href="" class="blackFont" style=" position: absolute;top:48%;left: 60%" ng-click="viewGuideModal('object_c')"> Object_C</a>
		  <a href="" class="blackFont" style=" position: absolute;top:59%;left: 60%"  ng-click="viewGuideModal('webFront')"> 网页式IOS开发</a>	  
		  
		  <span   tooltip-placement="top" tooltip="{{guideTxt.Android}}"  
		    style=" position: absolute;top:76%;left: 40%"> Android开发</span>	  	
		  <a href="" class="blackFont" style=" position: absolute;top:71%;left: 60%" ng-click="viewGuideModal('android')"> 原生Android开发</a>	
		  <a href="" class="blackFont" style=" position: absolute;top:83%;left: 60%" ng-click="viewGuideModal('webFront')"> 网页式Android开发</a>		
	  </div>
	  
	</div>
  </div>
  
  
  <div class="col-md-9 col-md-offset-1">
  <div class="panel panel-default black-panel ">
	  <div class="panel-heading">
	  	  <span>我的测试</span> 
	  	  <button class="btn btn-primary pull-right"  data-toggle="modal" data-target="#testCreateModal">创建新测试</button>
	  	  <div style="clear: both;"></div>
	  </div>
   
	 <div class="panel-body">
	    <div  style="padding-top: 20px" ng-repeat="test in tests">
	        <div class="starter-template">
	                <div class="highlight">
			            <pre>
			                <ul style="list-style:none;">
			                    <li style="float:left;list-style-type: none;margin-top: 10px">
			                        <a class="aa blackFont" href="#/test/{{test.quizid}}" style="font-size: 15px" ><p>{{test.name}}</p></a>
			                    </li>
			                    
			                    <li class="pull-right" style="list-style-type: none;margin-left: 10px">
			                        <button class="btn btn-outline"  href="#/report" ng-click="report(test)">报告</button>
			                    </li>
			                    
			                    
			                    <li class="pull-right" style="list-style-type: none;margin-left: 10px">
			                        <button class="btn btn-primary" ng-click="inviteUser(test)">邀请</button>
			                    </li>
			                    
			                </ul>
			            </pre>
	                </div>
	        </div>
	    </div>
     </div>
</div>
</div>
</div>

<div class="modal" id="testCreateModal" tabindex="0"
     role="dialog" aria-labelledby="TryLabel"
     aria-hidden="true">
     <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="background-color: #374652">
	        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel" style="font-size:16px;color:#1abc9c">新建测试</h4>
	      </div>
	      <div class="modal-body">
	         <form class="form-horizontal" role="form">
				  
				  <div class="form-group">
				    <label class="col-sm-2 control-label">测试名称</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" ng-model="addtest.name" placeholder="测试名称">
				    </div>
				  </div>
				  
				  <div class="form-group">
				    <label  class="col-sm-2 control-label">时间</label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" ng-model="addtest.testtime" >
				    </div>
				  </div>
				  
				   <div class="form-group">
				    <label  class="col-sm-2 control-label">备注</label>
				    <div class="col-sm-6">
				      <textarea  class="form-control" ng-model="addtest.extrainfo"  placeholder="备注" style="width:100%;heght:200px"></textarea>
				    </div>
				  </div>
			  </form>
	      </div>
	      <div class="modal-footer">
	     	 <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="pushTest()">新建</button>
	         <button type="button" class="btn btn-outline" data-dismiss="modal">取消</button>
	        
	      </div>
	    </div>
  </div>
</div>
