<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main"
	style="margin-top: 20px">
	<form class="form-horizontal"  role="form">
		<div class="form-group" ng-repeat="label in labels">
		    <label  class="col-sm-2 control-label">{{label.labelname}}</label>
		    <div class="col-sm-4">		    
		      <input type="checkbox" ng-model="label.isSelected">
		    </div>
		 </div>	 
		<input type="text" ng-model="angmodel.labeladded"> <button ng-click="addLabel()">添加</button>
		<br>
		<button ng-click="saveConfig()">保存</button>
	 </form>
</div>