<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />

<style>
	.qslib{
		padding:20px;
	}
	.qslib .qstypes{
		float: left;
		width: 100%;
		padding: 30px;
		border: 1px solid #ddd;
		border-radius: 0 10px 10px 10px;
	}
	.qslib .nav-tabs{
		border: none;
	}
	.qslib .qstypes .panel-heading{
		background-color: #2fe2bf;
		text-align: center;
		color: #fff;
	}
	.qslib .qstypes .panel-body div{
		float: left;
		width: 120px;
		margin: 10px 30px;
	}
	.qslib .qstypes .item{
		margin: 30px 0;
	}
</style>
<div class="qslib">
	<div class="panel panel-default cspanel">
		<div class="panel-heading">
			<h4>添加库试题</h4>
		</div>
		<div class="panel-line">
			<div></div>
		</div>
		<div class="panel-body">
   			<ul class="nav nav-tabs">
			  	<li ng-repeat="tt in Qtype"  ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
            		<a href  ng-click="goPage(tt.data)">  {{tt.name}}</a>
        		</li>
			</ul>
			<div class="qstypes" ng-class="{0:'hedden', 1: ''}[show]">
	        	<div class="item"   ng-if="set.show==1 && active ==1" ng-repeat="domainset in reciveData.sets|filter:{type:1}"  >
			     	<div class="panel panel-default">
						<div class="panel-heading" ng-bind="domainset.domainName"></div>
						<div class="panel-body">
						     <div  ng-repeat="set in domainset.problemSets" ng-model="reciveData.selectedSets">
						      	<img ng-src="resource/static/{{set.name}}.png"  class="img-responsive setImg center-block" ng-click="showQuestions(set)"  ></img>
						      	<p class="text-center" ng-bind="set.comment"></p>
						     </div>
					   	</div>
				    </div>
			    </div>  
			    <div class="item"   ng-if="set.show==1 && active ==2" ng-repeat="domainset in reciveData.sets|filter:{type:3}"  >
	     			<div class="panel panel-default">
				    <div class="panel-heading" ng-bind="domainset.domainName"></div>
				    <div class="panel-body">
			       		<div ng-repeat="set in domainset.problemSets" ng-model="reciveData.selectedSets">
			      	   		<img ng-src="resource/static/{{set.name}}.png"  class="img-responsive setImg center-block" ng-click="showQuestions(set)"  ></img>
			      			<p class="text-center" ng-bind="set.comment"></p>
			      		</div>
			   	 	</div>
			    </div>  
	    	</div>
	    	  
	    	<div class="questionbox" ng-if="set.show==0" >
         <div class="panel panel-default black-panel" style="margin-top: 30px;">
				   <div class="panel-heading black-heading" ng-bind="reciveData.selectedSets.name">
				   </div>
			   <table class="table table-striped table-hover">
			        <thead>
				        <tr>
				            <th style="width:70%;">试题内容</th>
				            <th style="width:15%;">试题类型</th>
				            <th style="width:8%;">难度</th>
				            <th style="width:7%;">查看</th>
				        </tr>
			        </thead>
			        <tbody>
			        <tr ng-repeat="q in reciveData.questions" style="padding-left: 10px">
			            <td abstract context={{q.context}} style="width:60%;overflow-x:hidden;overflow-y:hidden;" ></td>
			            <td style="width:15%;"><span ng-bind="q.tag"></span></td>
			            <td style="width:8%;"><span style="dispaly:inline-block;" ng-bind="q.level"></span></td>
			            <td style="width:7%;">
			                <a href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'view','title':'查看试题'})">查看</a>
			                <a class="blackFont" href="" ng-click="addQuestionToTest(q,$event)" ng-if="!isAdded(q.qid)&&test.addAction">/增加</a>
			                <a ng-if="isAdded(q.qid)">已添加</a>
			            </td>
			        </tr>
			        </tbody>
			    </table>   
			    
			    <ul style="margin-left: 20px;margin-top: 20px" class="pagination-plain">
		            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)" class="previous" href="">← 第一页</a></li>
		            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)" href="">{{i.index}}</a></li>
		            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)" class="next" href="">最后一页 →</a></li>
		        </ul>
        </div>
       </div> 
       
   		</div>
	    
	</div>
</div>


