<div class="admin-sidebar" ng-controller="leftbarController">
	<ul>
		<li>试题设置</li>
		<li>
		    <a ng-click="showQuestions()" ng-class="{true: 'active', false: 'inactive'}[question]">
			  <span style="font-size:14px" class="glyphicon glyphicon glyphicon-th-list" aria-hidden="true"></span>
			  <span  style="font-size:14px" class="glyphicon">&nbsp;题目</span>
			</a>
		</li>
		
		<!-- <li>
			<a href="" ng-class="{true: 'active', false: 'inactive'}[question == 1]" ng-click="showQuestions" class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;题目</a>
			
		</li> -->
		<li>
		  <a  ng-click="commonSet()"  ng-class="{true: 'active', false: 'inactive'}[set]">
			<span style="font-size: 14px" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			<span  style="font-size:14px" class="glyphicon">&nbsp;通用设置</span>
		  </a>	
		</li>
		<!-- <li>
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			&nbsp;候选人设置
		</li> -->
	</ul>
	<div class="dividingline">
		<div></div>
	</div>
	<ul>
		<li>邀请</li>
		<li>
			<a href="" ng-class="{true: 'active', false: 'inactive'}[lBar.state1]" ng-click="invited(0)" class="glyphicon glyphicon-record" aria-hidden="true">&nbsp;已邀请</a>
			
		</li>
		<li>
			<a href=""  ng-class="{true: 'active', false: 'inactive'}[lBar.state2]"  ng-click="invited(1)"  class="glyphicon glyphicon-adjust" aria-hidden="true">&nbsp;进行中</a>
			
		<li>
			<a href=""  ng-class="{true: 'active', false: 'inactive'}[lBar.state3]"  ng-click="invited(2)" class="glyphicon glyphicon-ok-circle" aria-hidden="true">&nbsp;已完成</a>
		
		</li>
		<!-- <li class="sub-list">
			<a href="#/report" class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp;评估中</a>
				
		</li>
		<li class="sub-list">
			<a href="#/report" class="glyphicon glyphicon-list-alt" aria-hidden="true">&nbsp;合适</a>
				
		</li>
		<li class="sub-list">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				&nbsp;淘汰
		</li>
	</ul> -->
</div>