<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />


<div class="qslib col-md-11">
	<div class="panel panel-default cspanel col-md-12">
		<div class="panel-heading">
			<h4>添加库试题</h4>
		</div>
		<div class="panel-line no-padding">
			<div></div>
		</div>
		<div class="panel-body ">
			<ul class="nav nav-tabs">
				<li ng-repeat="tt in Qtype"
					ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
					<a href ng-click="goPage(tt.data)"> {{tt.name}}</a>
				</li>
			</ul>
			<div class="qstypes" ng-class="{0:'hedden', 1: ''}[show]">
				<div class="typeitem" ng-if="set.show==1 && active ==1"
					ng-repeat="domainset in reciveData.sets|filter:{type:1}"
					ng-class="{true: 'full',false: 'half'}[domainset.problemSets.length>3]">
					<div class="panel panel-default">
						<div class="panel-heading" ng-bind="domainset.domainName"></div>
						<div class="panel-body">
							<div class="col-md-2" ng-repeat="set in domainset.problemSets"
								ng-model="reciveData.selectedSets">
								<img ng-src="resource/static/{{set.name}}.png"
									class="img-responsive setImg center-block"
									ng-click="showQuestions(set)"></img>
								<p class="text-center" ng-bind="set.comment"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="typeitem" ng-if="set.show==1 && active ==2"
					ng-repeat="domainset in reciveData.sets|filter:{type:3}">
					<div class="panel panel-default">
						<div class="panel-heading" ng-bind="domainset.domainName"></div>
						<div class="panel-body">
							<div ng-repeat="set in domainset.problemSets"
								ng-model="reciveData.selectedSets">
								<img ng-src="resource/static/{{set.name}}.png"
									class="img-responsive setImg center-block"
									ng-click="showQuestions(set)"></img>
								<p class="text-center" ng-bind="set.comment"></p>
							</div>
						</div>
					</div>
				</div>
				<div class=" libqslist" ng-if="set.show==0">
					<div class="heading">
						<div class="info">
							<span ng-bind="reciveData.selectedSets.name"></span> <a href=""
								class="btn btn-default" ng-click="set.show=1;active=1;">返回</a>
							<div style="clear: both"></div>
						</div>
						<div class="title">
							<div class="qsindex"></div>
							<div class="qscontent">试题内容</div>
							<div class="qstype">试题类型</div>
							<div class="qseasy">难度</div>
							<div class=qsoperate>操作</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="item" ng-repeat="q in reciveData.questions">
						<div class="qsindex">
							<span ng-bind="'Q'+($index+1)"></span>
						</div>
						<div class="qscontent">
							<div class="content"
								style="width: 90%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
								<div abstract context={{q.context}} class="qcontent"></div>
							</div>
						</div>
						<div class="qstype">
							<span ng-bind="q.tag"></span>
						</div>
						<div class="qseasy">
							<span ng-if="q.level==1">简单</span>
							<span ng-if="q.level==2">中等</span>
							<span ng-if="q.level==3">困难</span>
						</div>
						<div class="qsoperate">
							<a href=""
								ng-click="modifyQuestionInTest('lg',q,{'operation':'view','title':'查看试题'})">查看</a>
							<a class="blackFont" href=""
								ng-click="addQuestionToTest(q,$event)"
								ng-if="!isAdded(q.qid)&&test.addAction">/增加</a> <a
								ng-if="isAdded(q.qid)">已添加</a>
						</div>
						<div style="clear: both;"></div>
					</div>
					<ul style="margin-left: 20px; margin-top: 20px"
						class="pagination-plain">
						<pagination total-items="reciveData.totalPage" max-size="10"
							ng-model="currPage" ng-change="queryQuestions(currPage)"
							class="pagination-sm" boundary-links="true" rotate="false"
							first-text="第一页" last-text="最后一页" previous-text="上一页"
							next-text="下一页"> </pagination>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>




