<div class="testqs" >
	 <div class="topbar">
		<div class="type">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true" ></span>
			&nbsp;<span ng-bind="name"></span>
		</div>
		<!-- <div>
			40道题，90分钟
		</div> -->
		<div class="invite">
			<a href="#/invite" class="btn btn-default">发送邀请</a>
		</div>
	</div>
	 
	 <div class="col-md-11" style="margin-top: 30px;margin-left: 30px">
		 <div class="col-md-12">
		    <h4>自定义标签</h4>
		    <p>通常来说，用户只需要输入用户名、密码就可以开始做题了。但如果您需要用户输入一些个人信息，请从下列选项选择，或手动增加</p>
		    <div class="col-md-3"   ng-repeat="label in labels"  ng-show="istype(label)">
		     <!--  <span  ng-hide="true"><input  style="opacity:1;width:20px"  type="checkbox" ng-model="label.isSelected">{{label.labelname}}</span> --> 
		   		 <button  ng-class="setStyle(label.isSelected)"  style="margin-top: 5px "  ng-click="saveConfigOne(label,1)">  {{label.labelname}}</button>    
		    </div>
		 </div>
		 <div class="col-md-12" style="margin-top: 20px">
		   <input type="text" ng-model="angmodel.labeladded" placeholder="自定义标签"> <button class="btn btn-primary" ng-click="addLabel()">添加</button>
		 </div>
		 
		<!--<div class="col-md-12">
		  <button class="btn btn-primary" ng-click="saveConfig()">保存</button>
		 </div>  -->  
		<div class="col-md-12"  >
			 <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
			  <h4>已添加标签</h4>
			    <div   class="col-md-3" ng-repeat="label in labels" ng-show="orseclected(label.isSelected)" >
			       <button   class="btn btn-info btn-xs" style="margin-top: 5px" 
			       ng-click="saveConfigOne(label,2)">  {{label.labelname}}</button> 
			    </div>
			  <h4>&nbsp;</h4>  <hr style="height:1px;border:none;border-top:1px dashed #0066CC;" />
		</div>
		
	    <!-- class="col-md-4" -->
	     <div class="col-md-12" style="margin-top: 20px" >
		 <h4>报告接收邮箱</h4>
		 <p>做完测试后您可以直接在本系统查看报告，如果期望其他人也能看到报告的话，请输入邮箱来接收报告（可多个，依次添加）</p>
		 <form class="form-horizontal"  role="form">
			<div class="form-group" ng-repeat="e in emails">
			   <div class="col-md-3">
			    <label class="form-control" ng-bind="e.email"></label>
			   </div> 
			 </div>	 
			<input type="text" ng-model="angmodel.emailadded" placeholder="email"> 
			<button class="btn btn-primary" ng-click="addEmail()">添加</button>
		 </form>
	    </div>
	 
	    <div>
	       <span ><input  style="opacity:1;width:20px"  type="checkbox" ng-model="publicFlag" ng-change="setPublic()">设为公开挑战赛</span>
	    </div>
	    	 
	   
    </div>
    
</div>