<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />


<div class="qslib col-md-12">
	<div class="panel panel-default cspanel col-md-11" >
		<div class="panel-heading">
			<h4>添加库试题</h4>
		</div>
		<div class="panel-line no-padding">
			<div></div>
		</div>
		<div class="panel-body ">
   			<ul class="nav nav-tabs">
			  	<li ng-repeat="tt in Qtype"  ng-class="{true: 'active', false: 'inactive'}[tt.data==active]">
            		<a href  ng-click="goPage(tt.data)">  {{tt.name}}</a>
        		</li>
			</ul>
			<div class="qstypes" ng-class="{0:'hedden', 1: ''}[show]">
	        	<div class="typeitem"   ng-if="set.show==1 && active ==1" 
	        		ng-repeat="domainset in reciveData.sets|filter:{type:1}" 
	        		ng-class="{true: 'full',false: 'half'}[domainset.problemSets.length>3]">
			     	<div class="panel panel-default">
						<div class="panel-heading" ng-bind="domainset.domainName"></div>
						<div class="panel-body">
						     <div  ng-repeat="set in domainset.problemSets" ng-model="reciveData.selectedSets">
						      	<img ng-src="resource/static/{{set.name}}.png"  class="img-responsive setImg center-block" ng-click="showQuestions(set)"  ></img>
						      	<p class="text-center" ng-bind="set.comment"></p>
						     </div>
					   	</div>
				    </div>
			    </div>  
			    <div class="typeitem"   ng-if="set.show==1 && active ==2" ng-repeat="domainset in reciveData.sets|filter:{type:3}"  >
	     			<div class="panel panel-default">
					    <div class="panel-heading" ng-bind="domainset.domainName"></div>
					    <div class="panel-body">
				       		<div ng-repeat="set in domainset.problemSets" ng-model="reciveData.selectedSets">
				      	   		<img ng-src="resource/static/{{set.name}}.png"  class="img-responsive setImg center-block" ng-click="showQuestions(set)"  ></img>
				      			<p class="text-center" ng-bind="set.comment"></p>
				      		</div>
				   	 	</div>
			    	</div>  
	    		</div>
	    		<div class=" libqslist" ng-if="set.show==0" >
	    			<div class="heading">
	    				<div class="info">
	    					<span ng-bind="reciveData.selectedSets.name"></span>
					   		<a href="" class="btn btn-default" ng-click="set.show=1;active=1;">返回</a>
					   		<div style="clear: both"></div>
	    				</div>
	    				<div class="title">
	    					<div class="qsindex"></div>
	    					<div class="qscontent">试题内容</div>
	    					<div class="qstype">试题类型</div>
	    					<div class=qsoperate>操作</div>
	    					<div style="clear:both;"></div>
	    				</div>
	    			</div>
	    			<div class="item" ng-repeat="q in reciveData.questions">
						<div class="qsindex">
							<span ng-bind="'Q'+($index+1)"></span>
						</div>
						<div class="qscontent">
							<div class="content">
								<div abstract context={{q.context}} class="qcontent"></div>
							</div>
						</div>
						<div class="qstype">
							<span ng-bind="q.tag"></span>
						</div>
						<div class="qsoperate">
							<a href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'view','title':'查看试题'})">查看</a>
			                <a class="blackFont" href="" ng-click="addQuestionToTest(q,$event)" ng-if="!isAdded(q.qid)&&test.addAction">/增加</a>
			                <a ng-if="isAdded(q.qid)">已添加</a>
						</div>
						<div style="clear:both;"></div>
					</div>
				    <ul style="margin-left: 20px;margin-top: 20px" class="pagination-plain">
			            <li ng-class="{true: '', false: 'disabled'}[reciveData.frontPage]"><a ng-click="queryQuestions(1)" class="previous" href="">← 第一页</a></li>
			            <li ng-repeat="i in reciveData.pagelist" ng-class="{true: 'active', false: ''}[i.current]"><a ng-click="queryQuestions(i.index)" href="">{{i.index}}</a></li>
			            <li ng-class="{true: '', false: 'disabled'}[reciveData.rearPage]"><a ng-click="queryQuestions(reciveData.index)" class="next" href="">最后一页 →</a></li>
			        </ul>
        			</div>
       			</div> 
   			</div>
		</div>
</div>


