<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>
<div>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
     		  
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">findFool</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      
		     
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#" ng-bind="tuser.email"></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav><!-- /navbar -->

	  <div class="container-fluid">
	  <div class="row">
	   <!-- 左侧选项条 -->
	   <div class="col-md-1">
	   	 <ul class="nav nav-pills nav-stacked" role="tablist">
			<li ng-repeat="problem in tProblems" ng-click="submitAndFetch(problem)"><a href="" >{{$index}}</a></li >
		 </ul>
	   </div>
	   
	   <!-- 做题界面 -->
	   <div class="col-md-9">
	   	 <div class="row" ng-if="questionType==1">
		   	 	<div class="col-md-12" style="margin-top: 20px">
			       	  	<textarea ckeditor minheight="120" width="100%" operation="view" ng-model="question.context"></textarea>
			    </div>  
	
				<div class="options list col-md-12 col-sm-12  col-xs-12" >
			       	  <label customcheckbox option={{option}} class='optionlabel checkbox'  ng-repeat="option in question.answer" operation="edit">
			       	    <textarea ckeditor  minheight="70" width="90%" operation="view" class='optiontext'   ng-model="option.text"></textarea>
			       	    <input type="checkbox">
			       	  </label>
			    </div>
		  </div>
		  
		 <!-- program test --> 
		  <div class="row" ng-if="questionType==2">
		    <div style="margin-top: 30px">
		        <textarea ckeditor minheight="120" width="100%" operation="view" ng-model="question.context"></textarea>
		    </div>
		    
		    <div>
		    	<div class="col-xs-12 " style="margin-top: 20px;" ng-controller="selectController">
		    	   <p>选择编程语言
		                <select ng-model="lg.context" ng-options="m.name for m in lgs">
		                </select>
		                <button class="btn btn-primary" ng-click="outSelected()">测试</button>
		                <p>lg:{{lg.context}}</p>
		                <p>questionType:{{questionType}}</p>
		            </p>
		    	</div>
		        
		    	
		        <div class="col-xs-12 clearUl" style="margin-top: 20px;min-height:500px;overflow: auto">
		            <div class="col-xs-11 editor" style="min-height:500px; line-height: 1.7;position:absolute;" 
		            		aceeditor language={{lg.context.CodeType}} ng-model="proSolution"></div>
		            <!--  div style="clear:both"></div-->
		        </div>
		        
		        
		     
		        <div class="col-md-12" style="margin-top: 20px;">
		            <button class="btn btn-primary" ng-click="run()">运行/提交</button>
		        </div>
		        
		        <div class="col-md-12" style="margin-top: 20px;" >
					    <div class="col-md-6 highlight" style="height: 190px;margin: 20px;">
					     <p>运行结果</p>
			             <div ng-bind-html="RESULT" ></div>
			        </div>
		        </div>
		       
		    </div>
		</div>
		<!-- program test -->
		  
		  <div class="row" style="margin-top: 10px">
		  	  <div class="col-md-2 col-md-offset-4">
		  	   <button class="btn btn-primary" ng-click="getNext(question)">提交/下一题</button>
		  	  </div>
		  </div>
		  
	   </div>
	   
	    <div class="col-md-2">
		    <button class="btn btn-outline" style="margin-top: 20px" ng-click="finishTest()">完成测试</button>
		</div>
	  </div>
 </div>
</div>