<link rel="stylesheet" type="text/css" href="resource/css/testbank.css" />
<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css" />
<link rel="stylesheet" type="text/css" href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />


<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main"
	style="margin-top: 70px">

	<div class="panel panel-default black-panel">
		<div class="panel-heading black-heading">
		   已有试题
		   <a href=""><span class="glyphicon glyphicon-chevron-down pull-right"  ng-if="contain.show==2" ng-click="contain.show=1"></span></a>	
		   <a href=""><span class="glyphicon glyphicon-chevron-up pull-right" ng-if="contain.show==1" ng-click="contain.show=2"></span></a>	
		</div>
			
		<div>
			<div class="row" style="padding-top:15px;padding-bottom:15px">
				<div class="col-md-1"></div>
				<div class="col-md-4">试题内容</div>
				<div class="col-md-1"></div>
				<div class="col-md-2">类型</div>
				<div class="col-md-1">分数</div>
				<div class="col-md-3">修改/删除/上移/下移</div>
			</div>
			<div class="question-list"  ng-repeat="q in qs">
				    <div class="col-md-1">
				    	
				    	<span ng-bind="'Q'+($index+1)"></span>
				    </div>
					<div class="col-md-4">
					
					   <a href=""
							ng-click="displayQuestionDetails($index)"
							ng-if="!isDisplay[$index]">
							 <input abstract context={{q.context}}> 
						</a>
							 <a href=""
							ng-click="hideQuestionDetails($index)" ng-if="isDisplay[$index]">
							 <input abstract context={{q.context}}> 
							</a>
					</div>
					<div class="col-md-1">
						<a  href=""
							ng-click="displayQuestionDetails($index)"
							ng-if="!isDisplay[$index]">
							<span class="glyphicon glyphicon-chevron-down"></span>	
						</a>
							 <a  href=""
							ng-click="hideQuestionDetails($index)" ng-if="isDisplay[$index]">
							<span class="glyphicon glyphicon-chevron-up"></span>
							</a>
						
					</div>
					<div class="col-md-2">
						<input abstract ng-bind="getTypeName(q.type)">
					</div>
					<div class="col-md-1">{{q.score}}</div>
					<div class="col-md-3">
						&nbsp;&nbsp;
						<a class="blackFont" href=""
							ng-click="modifyQuestionInTest('lg',q,{'operation':'edit','title':'修改试题'})">
							<span class="glyphicon glyphicon-pencil"></span>
							</a>
						&nbsp;&nbsp;&nbsp;
						<a class="blackFont" href="" ng-click="deleteQuestionFromTest(q)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						&nbsp;&nbsp;&nbsp;
						<a class="blackFont" href="" ng-click="moveUp($index)">
							<span class="glyphicon glyphicon-circle-arrow-up"></span>
						</a>
						&nbsp;&nbsp;
						<a class="blackFont" href="" ng-click="moveDown($index)">
							<span class="glyphicon glyphicon-circle-arrow-down"></span>
						</a>
						
					</div>
				 <div ng-include src="'page/questiondetail.html'" ng-if="isDisplay[$index]">
				 </div> 
				<div style="clear: both;"></div>
			</div>
		</div>
	</div>


	<button class="btn btn-primary" data="{{tid}}"
		ng-click="showDefaultPanel()">&nbsp;&nbsp;&nbsp;添加库试题&nbsp;&nbsp;&nbsp;</button>
	<button class="btn btn-outline" data="{{tid}}"
		ng-click="showCustomPanel()">添加自定义试题</button>

</div>



<div ng-include src="'page/testBank.html'" ng-controller="TestBank"
	ng-if="panel.show=='default'"></div>
<div ng-include src="'page/mytestBank.html'" ng-controller="mytestbank"
	ng-if="panel.show=='custom'"></div>
	
<script src="resource/js/simditor/module.js"></script>
<script src="resource/js/simditor/hotkeys.js"></script>
<script src="resource/js/simditor/uploader.js"></script>
<script src="resource/js/simditor/simditor.js"></script>
