<link rel="stylesheet" type="text/css" href="resource/css/testbank.css"/>

<div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-2 main" style="margin-top: 80px" >
		
	
		
		   <div class="panel panel-default black-panel">
			   <div class="panel-heading black-heading">
			   	  已有试题
			   </div>
			   
				   <div class="table-responsive">
					   <table class="table table-striped">
					        <thead>
					        <tr>
					            <th>试题内容</th>
					            <th>类型</th>
					            <th>分数</th>
					            <th></th>
					        </tr>
					        </thead>
					        <tbody>
					        <tr ng-repeat="q in qs">
					            <td abstract context={{q.context}}></td>
					            <td ng-bind="getTypeName(q.type)"></td>
					            <td>{{q.score}}</td>
					            <td>
					                <a class="blackFont" href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'view','title':'查看试题'})">查看/</a>
					                <a class="blackFont" href="" ng-click="modifyQuestionInTest('lg',q,{'operation':'edit','title':'修改试题'})">修改/</a>
					                <a class="blackFont" href="" ng-click="deleteQuestionFromTest(q)">删除</a></td>
					        </tr>
					        </tbody>
					    </table>      
					</div>
				
			
		</div>
        <button class="btn btn-primary" data="{{tid}}" ng-click="showDefaultPanel()">&nbsp;&nbsp;&nbsp;添加库试题&nbsp;&nbsp;&nbsp;</button>
        <button class="btn btn-outline" data="{{tid}}" ng-click="showCustomPanel()">添加自定义试题</button>

</div>



<div ng-include src="'page/testBank.html'" ng-controller="TestBank" ng-if="panel.show=='default'"></div>
<div ng-include src="'page/mytestBank.html'" ng-controller="mytestbank"  ng-if="panel.show=='custom'"></div>


