<div class="container">
	<div style="width:100%;" class="text-center">
		<br/>
		<br/>
		<h1 style="font-size: 44px;margin-top: 30px">
                 大众点评极客挑战赛
        </h1>
       
	</div>
	
	
	<div class="col-md-4 col-md-offset-4" class="text-center">
	
	    <form class="form-horizontal form-login">
                <div class="form-group">
                    <input type="text" class="form-control txt-large"  placeholder="姓名" ng-model="name">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control txt-large" placeholder="学校"  ng-model="school"  >
                </div>
    
                             
                <div class="form-group">
                        <input type="text" class="form-control txt-large" placeholder="学历" ng-model="verifyAns">
                </div>
                
                 <div class="form-group">
                        <input type="text" class="form-control txt-large" placeholder="专业" ng-model="verifyAns">
                </div>
                
                 <div class="form-group">
                        <input type="text" class="form-control txt-large" placeholder="毕业时间" ng-model="verifyAns">
                </div>
                
            
                <p class="text-danger" ng-bind="errmsg"></p>
               
                <div class="form-group">
                    <a href="#/dp/startQuiz" class="btn btn-lg btn-block btn-outline" type="button">
                            开始挑战
                    </a>
                </div>
              
            </form>
       
	</div>
	
</div>



     
