<title>大众点评-极客挑战赛</title>
<div class="col-md-12"  style="height: 800px;background:url('resource/static/dp_back.jpg') repeat">
	<div style="width:100%;padding-top: 30px" class="text-center">
		<img src="resource/static/dp-logo2.png">
		<p style="color: white;margin-left: 50px">大众点评第二届极客挑战赛</p>
       
	</div>
	
	
	<div class="col-md-4 col-md-offset-4" class="text-center">
	
	    <form class="form-horizontal form-login">
	    
	    		 <div class="form-group">
                    <p style="color: white">请输入详细信息开始挑战</p>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control txt-large"  placeholder="姓名" ng-model="tuser.username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control txt-large" placeholder="学校"  ng-model="tuser.school"  >
                </div>
    
                             
                <div class="form-group">
                    <select class="form-control" ng-model="tuser.degree" ng-options="d.name as d.name for d in degrees">
		    	    </select> 
						
						
                </div>
                
                 <div class="form-group">
                        <input type="text" class="form-control txt-large" placeholder="专业" ng-model="tuser.discipline">
                </div>
                
                
                 <div class="form-group">
                    <select class="form-control" ng-model="tuser.gratime" ng-options="d.time as d.time for d in gratimes">
		    	    </select> 
                </div>
                
            
                <p class="text-danger" ng-bind="errmsg"></p>
               
                <div class="form-group">
                    <a href="" ng-click="register()" class="btn btn-lg btn-block btn-outline" type="button">
                            开始挑战
                    </a>
                </div>
              
            </form>
       
	</div>
	
</div>



     
