  <div class="container">
	<div style="width:100%;" class="text-center">
		<br/>
		<br/>
		<h1 style="font-size: 44px;margin-top: 30px">
                 大众点评极客挑战赛
        </h1>
       
	</div>
	
	
	<div style="width:100%;" class="text-center">
	  <div class="col-md-4 col-md-offset-4">
	    <form class="form-horizontal form-login">
                <div class="form-group">
                    <input type="email" class="form-control txt-large" id="email" placeholder="用户名/邮箱" ng-model="Lemail">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control txt-large" id="id="passwd"  ng-model="Lpwd" ng-maxlength=20
				ng-minlength=6 ng-keyup="enter($event)"  placeholder="密码">
                </div>
                <p class="text-danger" ng-bind="errmsg"></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="confirm(1)">
                        登陆
                    </button>
                </div>
                <hr/>
                <div class="form-group">
                    <a href="#/signup" class="btn btn-lg btn-block btn-outline" type="button">
                            还没有账号？免费注册
                    </a>
                </div>
                <div class="form-group">
                    <a href="#/findPwd" class="btn btn-outline btn-block btn-lg" type="button">
                            忘记密码？重置    
                    </a>
                </div>
                
            </form>
		</div>
       
	</div>
	
	
	
	</div>
 
 
 
 