<link href="dp/css/testmain.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top " role="navigation"  style="font-size: 16px">
        <div class="container-fluid">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/dp/profile">{{email}}</a></li>
					<li class=""><a href="" ng-click="logout()">退出</a></li>
				</ul>
            </div>
        </div>
    </nav>
    
   




<div class="col-md-12"  style="background:url('resource/static/dp_back.jpg') repeat;margin-bottom: 100px" >

  <div style="width:100%;padding-top: 30px" class="text-center">
		<img src="resource/static/dp-logo2.png">
		<p style="color: white;margin-left: 50px">大众点评第二届极客挑战赛</p>
       
	</div>
	
	
	<div class="col-md-6 col-md-offset-3" style="margin-top: 30px">
	  <a href="" style="color: white" ng-click="showtext==1?showtext=0:showtext=1">
	        <span class="glyphicon glyphicon-chevron-down" ng-if="showtext==0"></span>
		    <span class="glyphicon glyphicon-chevron-up" ng-if="showtext==1"></span>
	        &nbsp;答题规则</a>
	  <div ng-if="showtext==1" style="margin-top: 10px;color: white">
		  <p>1. 以下三类技能，须依次进阶式进行挑战。先挑战红色技能，积分达到300分后，白色技能解锁。积分达到500分后，蓝色技能解锁。</p>
		  <p>2. 答对加分，答错减分。请谨慎作答，也可以选择跳过。</p>
		  <p>3. 最终按总分排名，当分数相同时，用答题正确率区分排名先后。</p>
		  <p>取胜小诀窍：</p>
		  <p>1. 单项分越高越好，尤其是红色技能。麻麻说刷题库是一种美德。</p>
		  <p>2. 挑战的技能越多越好，这种关键时刻不要谦虚。</p>
	  </div>
	</div>
	
	<div class="col-md-6 col-md-offset-3" class="text-center" style="margin-top:30px;">
	
	       <div class="panel panel-default" style="padding:0;margin-bottom:50px;border-radius:10px ;border-color: #CC0000">
				 <div class="panel-heading" style="background-color:#FF3C43;color:#1abc9c;border-top-left-radius:5px;border-top-right-radius:5px ">
				    <h3 class="panel-title" style="color: white;text-align: center;">
				    	红色技能
				    </h3>
				  </div>
				  <div class="panel-body row">

				    <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/java.png" class="dpimg" ng-click="openTest('Java',1)" >
				      <p style="padding-top: 10px">Java</p>
				    </div>
				      <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/c++.png" class="dpimg" ng-click="openTest('C/C++',1)">
				        <p style="padding-top: 10px">C/C++</p>
				    </div> 
                	
				  </div>
				</div>
				
	
				
				
	       <div class="panel panel-default" style="padding:0;margin-bottom:50px;border-radius:10px ;border-color: #000000">
				 <div class="panel-heading" style="background-color:#E7E7E7;color:#000000;border-top-left-radius:5px;border-top-right-radius:5px ">
				    <h3 class="panel-title" style="color: #555;text-align: center;">
				    	白色技能
				    </h3>
				  </div>
				  <div class="panel-body row">

				    <div class="col-xs-4"  style="text-align: center;">
				      <img alt="" src="resource/static/javascript.png " class="dpimg"   ng-click="openTest('前端',2)">
				       <p style="padding-top: 10px">前端</p>
				    </div>
				     <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/mysql.png" class="dpimg"  ng-click="openTest('Mysql',2)">
				        <p style="padding-top: 10px">Mysql</p>
				    </div>

				     <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/linux.png" class="dpimg" ng-click="openTest('Linux',2)" >
				      <p style="padding-top: 10px">Linux</p>
				    </div>
				      <div class="col-xs-4" style="margin-top: 10px; text-align: center;" >
				      <img alt="" src="resource/static/algorithm.png" class="dpimg" ng-click="openTest('算法',2)" >
				      <p style="padding-top: 10px">算法</p>
				    </div>
                	
				  </div>
			</div>
			
			 <div class="panel panel-default" style="padding:0;margin-bottom:50px;border-radius:10px ;border-color: #51A9DA">
				 <div class="panel-heading" style="background-color:#51A9DA ;color:#1abc9c;border-color: #51A9DA;border-top-left-radius:5px;border-top-right-radius:5px">
				    <h3 class="panel-title" style="color: white;text-align: center;">
				    	蓝色技能
				    </h3>
				  </div>
				  <div class="panel-body row">
				      <div class="col-xs-4" style="text-align: center;">
				       <img alt="" src="resource/static/object_c.png" class="dpimg" ng-click="openTest('ObjectC',3)"  >
				       <p style="padding-top: 10px">Object_c</p>
				      </div>
				    

				     <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/android.png" class="dpimg" ng-click="openTest('Android',3)" >
				       <p style="padding-top: 10px">Android</p>
				    </div>
				    
				      <div class="col-xs-4" style="text-align: center;">
				      <img alt="" src="resource/static/python.png" class="dpimg" ng-click="openTest('Python',3)" >
				       <p style="padding-top: 10px">Python</p>
				    </div>
				 
				 
				     
				  </div>
			</div>
	   </div>
	
       
	<div class="col-md-12" style="margin-top:100px;color:#3E4F5E;text-align: center;padding-bottom: 100px">
              <p >由foolrank.com提供技术支持</p>
            </div>
	   
	</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>	
