
<link rel="stylesheet" href="cad/css/index.css" />


  <div class="form-group " id="textarea">
    <textarea class="textArea" ></textarea>
  </div>

<div class="container" style="margin-top:5%">
<div class="row ">
<div class="col-md-3">
<div class="panel panel-default panel-info" id="panel">
 <div class="panel-heading">个人信息</div>
  
  <div class="panel-body ">
   <ul class="list-group"  ng-show="show">
     <li class="list-group-item" >姓名：{{testuser.username}}</li>
     <li class="list-group-item">学校：{{testuser.school}}
     </li>
     
     <li class="list-group-item">公司：{{testuser.company}}
     </li>
     <li class="list-group-item">手机：{{testuser.tel}}
     </li>
     <li class="list-group-item">邮箱：{{testuser.email}}
     </li>
     <li class="list-group-item">博客：{{testuser.blog}}
     </li>
     <li class="list-group-item">年龄: {{testuser.age}}
     </li>
     <li class="list-group-item">学位：{{testuser.degree}}
     </li>
     <li class="list-group-item">居住地：{{testuser.city}}
     </li>
    </ul>
    
    
     
     <ul class="list-group" ng-show="!show">
     <li class="list-group-item"  style="text-align:center;">修改个人信息</li>
    <br/>
         <input type="text" class="form-control" placeholder="姓名"  ng-model="testuser.username" >
     <input type="text" class="form-control" placeholder="学校"   ng-model="testuser.school" style="margin-top:5px">
     <input type="text"  class="form-control"  placeholder="公司" ng-model="testuser.company" style="margin-top:5px">
  
     <input type="text"  class="form-control"  placeholder="手机" ng-model="testuser.tel" style="margin-top:5px">
     <input type="text"  class="form-control"  placeholder="邮箱" ng-model="testuser.email" style="margin-top:5px">
     <input type="text"  class="form-control"  placeholder="博客" ng-model="testuser.blog" style="margin-top:5px">
     
     <input type="text"  class="form-control"  placeholder="年龄" ng-model="testuser.age" style="margin-top:5px">
     <input type="text" class="form-control"  placeholder="学位" ng-model="testuser.degree" style="margin-top:5px">
     <input type="text" class="form-control" placeholder="地址" ng-model="testuser.city" style="margin-top:5px">
    </ul>
      
      
      
      
      
      
      
    <div>
     <button class="btn btn-primary " type="reset" ng-click="ifShow(2)" ng-show="!show">返回</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary btn-lg btn-block"  type="reset" ng-click="ifShow(1)" ng-show="show">修改</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-success " type="submit" ng-show="!show" ng-click="cdPersonalModify()">确定</button>
    </div>
  </div>
 </div>
</div>

<div   class="col-md-8"  style="margin-left:15px">
<div class="panel panel-default panel-success " >

    <div class="panel-heading">挑战纪录</div>
   
	<table  class="table table-bordered"style="text-align:center;">
	<tr >
	<td >挑战赛</td>
			<td >公司</td>
			<td>挑战时间</td>
			<td >得分</td>
			<td >排名</td>
	</tr>
		<tr ng-repeat="my in  myChallenge" >
			<td >{{my.challengeName}}</td>
			<td >{{my.challengeCompany}}</td>
			<td>{{my.challengeTime}}</td>
			<td >{{my.challengeScore}}</td>
			<td >{{my.challengeRank}}</td>
		</tr>
	  </table>
	<div class="panel-footer"></div>
</div>
</div>
 


