<link rel="stylesheet" href="cad/css/index.css" />

    <div class="jumbotron" style="min-height: 350px; background-image: url('{{companyTail.coverLocation}}');">

    </div>



    <div class="company">

        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <div class="com-brief">

                        <div class="media media-middle">
                            <img class="media-object" src="{{companyTail.logoLocation}}" alt="dp">
                        </div>



                        <div class="com-info">

                            <div class="address">
                                <img src="resource/static/iconfont-zuobiao.png" alt="zuobiao">
                                <p>上海</p>
                            </div>
                            

                            <div class="website">
                                
                                <img src="resource/static/iconfont-lianjie.png" alt="lianjie">              
                                <p>{{companyTail.website}}</p>

                            </div> 
                            
                            <p class="introduction">{{companyTail.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">

                        
                    <div class="com-activities" ng-repeat="quiz in quizList">
                        <h2>
                            {{quiz.extraInfo}}
                        </h2>

                        <p style="padding-bottom: 20px">{{quiz.description}}</p>
                        <div  >
                         <a href=""  ng-click="isLogin()"><div class="enter text-center "  style="width:50%;margin: 0 auto;">

                        开始挑战
                    </div></a>
                             </div>

                    </div>
                </div>

            </div>
        </div>


    </div>