<link rel="stylesheet" href="cad/css/index.css" />

    <div class="jumbotron" style="background-image: url('{{companyTail.coverLocation}}');">

    </div>



    <div class="company">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                    <div class="com-brief">

                        <div class="media media-middle">
                            <img class="media-object" ng-src="{{companyTail.logoLocation}}" alt="dp">
                        </div>



                        <div class="com-info">
                           <div class="comtail">
                                <img src="resource/static/iconfont-zuobiao.png" alt="zuobiao">
                                <p>上海</p>
                            </div>

                            <div class="address">
                                <img src="resource/static/iconfont-zuobiao.png" alt="zuobiao">
                                <p>上海</p>
                            </div>
                            

                            <div class="website">
                                
                                <img src="resource/static/iconfont-lianjie.png" alt="lianjie">              
                                <p>{{companyTail.website}}</p>

                            </div> 
                            
                            <p class="introduction">{{companyTail.description}}</p>
                        </div>
                    </div>
                </div>
                
                
                
                <div class="col-sm-9">
                
               <!--  <div class="underway" >-->
                 <div class="squad-title">
                    <h3>已开始
	                <img src="resource/static/小红旗-01.png" height="30px" width="20px"></h3></br>		  
                </div>
                    <div class="com-activities" ng-repeat="quiz in quizList" ng-if="quiz.status==2">
                    
                        <p>
                            <span style="font-size:20px">{{quiz.name}}</span>
                            <span class="pull-right">时间:{{quiz.startTime}}-{{quiz.endTime}}</span>
                        </p>

                        <p>
                          <span>{{quiz.description}}</span>
                        </p>
                        
                        <div style="margin-bottom: 10px" >
	                         <button class="btn btn-primary"  ng-click="startTest(quiz.quizid)">
	                          开始挑战
	                         </button>
                        
                        </div>
                        
                       </div>
                        
                           <div class="underway" >
                 <div class="squad-title">
                    <h3>即将开始
                 <img src="resource/static/小红旗-02.png" height="30px" width="20px"></h3></br>		  
                    
                </div>
                    <div class="com-activities" ng-repeat="quiz in quizList" ng-if="quiz.status==1">
                    
                        <h5>
                            {{quiz.name}}
                        </h5>

                        <p>{{quiz.description}}</p>
                        <div style="margin-bottom: 10px" >
	                         <button class="btn btn-primary"  ng-click="startTest(quiz.quizid)">
	                          开始挑战
	                         </button>
                        
                        </div>
                    </div>
                    
                </div>
                        
                        
                         <div class="underway" >
                 <div class="squad-title">
                    <h3>已经结束
                   <img src="resource/static/小红旗-03.png" height="30px" width="20px"></h3></br>		  
                    
                </div>
                    <div class="com-activities" ng-repeat="quiz in quizList" ng-if="quiz.status==3">
                    
                        <h5>
                            {{quiz.name}}
                        </h5>

                        <p>{{quiz.description}}</p>
                        <div style="margin-bottom: 10px" >
	                         <button class="btn btn-primary"  ng-click="startTest(quiz.quizid)" disabled="disabled">
	                          开始挑战
	                         </button>
                        
                        </div>
                    </div>
                    
                </div>
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                  
                    
               
                </div>
                
                

            </div>
        </div>


    </div>