<link rel="stylesheet" href="cad/css/index.css" />


    <div class="ranks">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="squad-title">综合排行榜</div>
                    <div class="rank"  style="overflow-y:auto;">
                    <table  class="table" style="text-align:center;"  >
                    <tr >
		               <td> 姓名</td>
		               <td> 得分</td>
		               <td> 排名</td> 
		               </tr> 
		               <tr><a href="#/cad/people"></a></tr>
                    
                    <tr   ng-repeat="my in compreRank" >
           
		               <td ><a href="#/cad/people"> {{my.name}}</a></td>
		               <td> {{my.score}}</td>
		               <td> {{my.rank}}</td> 
		           
		               </tr>    
		               </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="squad-title">岗位排行榜</div>
                    <div class="rank"  style="overflow-y:auto;">
                    <table  class="table" style="text-align:center;"  >
                    <tr >
		               <td> 姓名</td>
		               <td> 得分</td>
		               <td> 排名</td> 
		               </tr> 
                    
                    <tr ng-repeat="my in roleRank" >
		               <td> <a href="#/cad/people"> {{my.name}}</a></td>
		               <td> {{my.score}}</td>
		               <td> {{my.rank}}</td> 
		               </tr>    
		               </table>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="squad-title">技能排行榜</div>
                    <div class="rank"  style="overflow-y:auto;">
                    <table  class="table" style="text-align:center;"  >
                    <tr >
		               <td> 姓名</td>
		               <td> 得分</td>
		               <td> 排名</td> 
		               </tr> 
                    
                    <tr ng-repeat="my in techRank" >
		               <td><a href="#/cad/people"> {{my.name}}</a></td>
		               <td> {{my.score}}</td>
		               <td> {{my.rank}}</td> 
		               </tr>    
		               </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" >
                    <h4>加入我们</h4>
                    <p>如果你熟悉JavaEE、Javascript、CSS中<br/ >
                    任何一种技术<br />
                    那么赶快加入我们开发团队吧！</p>
                </div>
                <div class="col-sm-6">
                    <h4>联系我们</h4>
                    <p>发送邮件到service@findfool.com<br/>
                    沪ICP备14039106-3号</p>
                </div>
            </div>
        </div>

    </footer>

</html>