<link href="dp/css/testmain.css" rel="stylesheet">

<nav class="navbar navbar-default" role="navigation"  style="font-size: 16px">
        <div class="container-fluid">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/dp/profile">{{email}}</a></li>
					<li class=""><a href="" ng-click="logout()">退出</a></li>
				</ul>
            </div>
        </div>
    </nav>




<div class="container">
	<div style="width:100%;" class="text-center">
		<br/>
		<br/>
		<h1 style="font-size: 44px;margin-top: 30px">
                 大众点评极客挑战赛
        </h1>
       
	</div>
	
	<div class="col-md-6 col-md-offset-3" style="margin-top: 20px">
	  <a href="" ng-click="showtext==1?showtext=0:showtext=1">
	        <span class="glyphicon glyphicon-chevron-down" ng-if="showtext==0"></span>
		    <span class="glyphicon glyphicon-chevron-up" ng-if="showtext==1"></span>
	        &nbsp;答题规则</a>
	  <div ng-if="showtext==1" style="margin-top: 10px">
		  <p>1. 以下三类技能，须依次进阶式进行挑战。先挑战红色技能，积分达到300分后，白色技能解锁。积分达到500分后，蓝色技能解锁。</p>
		  <p>2. 答对加分，答错减分。请谨慎作答，也可以选择跳过。</p>
		  <p>3. 最终按总分排名，当分数相同时，用答题正确率区分排名先后。</p>
		  <p>取胜小诀窍：</p>
		  <p>1. 单项分越高越好，尤其是红色技能。麻麻说刷题库是一种美德。</p>
		  <p>2. 挑战的技能越多越好，这种关键时刻不要谦虚。</p>
	  </div>
	</div>
	
	<div class="col-md-6 col-md-offset-3" class="text-center" style="margin-top:20px ">
	
	       <div class="panel panel-default" style="padding:0;margin-bottom:50px;">
				 <div class="panel-heading" style="background-color:#1abc9c;color:#1abc9c;border-color:#D7D4F0">
				    <h3 class="panel-title" style="color: white">
				    	红色技能
				    </h3>
				  </div>
				  <div class="panel-body row">
				    <div class="col-xs-4 ">
				      <img alt="" src="resource/static/java.png" class="img-responsive mainimg" ng-click="openTest(206,'java')" >
				    </div>
				     <div class="col-xs-4">
				      <img alt="" src="resource/static/c++.png" class="img-responsive mainimg">
				    </div>
                	
				  </div>
				</div>
				
	
				
				
	       <div class="panel panel-default" style="padding:0;margin-bottom:50px;">
				 <div class="panel-heading" style="background-color:#1abc9c;color:#1abc9c;border-color:#D7D4F0">
				    <h3 class="panel-title" style="color: white">
				    	提高题
				    </h3>
				  </div>
				  <div class="panel-body row">
				    <div class="col-xs-4">
				      <img alt="" src="resource/static/javascript.png" class="img-responsive mainimg" style="height: 65px" >
				    </div>
				     <div class="col-xs-4">
				      <img alt="" src="resource/static/database.png" class="img-responsive mainimg" >
				    </div>
				     <div class="col-xs-4">
				      <img alt="" src="resource/static/c++.png" class="img-responsive mainimg" >
				    </div>
                	
				  </div>
			</div>
			
			 <div class="panel panel-default" style="padding:0;margin-bottom:50px;">
				 <div class="panel-heading" style="background-color:#1abc9c;color:#1abc9c;border-color:#D7D4F0">
				    <h3 class="panel-title" style="color: white">
				    	加分题
				    </h3>
				  </div>
				  <div class="panel-body row">
				      <div class="col-xs-4">
				      <img alt="" src="resource/static/object_c.png" class="img-responsive mainimg" >
				    </div>
				    
				     <div class="col-xs-4">
				      <img alt="" src="resource/static/android.png" class="img-responsive mainimg" >
				    </div>
				 
				     
				  </div>
			</div>
	   </div>
	

	
	   
	</div>
	
