<link rel="stylesheet" type="text/css" href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />
<link rel="stylesheet" type="text/css" href="resource/css/mymodalcontent.css"/>



<div class="container">
	<div style="width:100%;" class="text-center">
		<br/>
		<br/>
		<h1 style="font-size: 44px;margin-top: 30px">
                    创建新公司
        </h1>
	</div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
           <form class="form-horizontal form-signup">  
                <div class="form-group">
                    <input type="textfield" class="form-control txt-large" placeholder="公司名称(必须输入)" ng-model="company.companyname">
            
                </div>
                <p class="text-danger"  ></p>
                <div class="form-group">
                    <input type="textfield" class="form-control txt-large" placeholder="公司地址" ng-model="company.address">
                </div>
              
                <div class="form-group">
                    <input type="text" class="form-control txt-large" id="phone" placeholder="公司电话"  ng-model="company.mobile">
					</div>
                <p class="text-danger" ng-bind="errorMsg.mobile" ></p>
                <div class="form-group">
               <input type="textfield" class="form-control txt-large" placeholder="公司网址" ng-model="company.website">
 </div>
         
    <!--   <div class="form-group">
        <a>详细信息</a>
        <textarea    ng-model="description" class="form-control" rows="3"></textarea>
      </div>
               -->
            
        <div>
          <p class="text-danger" ng-bind="errorMsg.general" ></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="create()">
                            下一步
                    </button>
                 </div>
                 
                 <div class="form-group">
	                <a href="#/company/companyset" style="margin-top: 10px">
	                   <button  class="btn btn-outline btn-lg btn-block">返回</button>
	                </a>
                </div>

                </div>
           </form> 
        </div>
    </div>
</div>



<div class="text-center" style="width:100%;" ng-show="showPage==2">

      <div style="margin-top: 10px" class="btn btn-primary"  upload-button header ={{companyModel.id}},1
    	         url="company/uploadimg" on-success="onSuccess(response)" >上传公司图片
      </div>
      <br>
      <div  style="margin-top: 10px" class="btn btn-primary"  upload-button header ={{companyModel.id}},2
        url="company/uploadimg" on-success="onSuccess(response)" >上传公司logo
        
      </div>
      <br>
      <div class="form-group" style="width:33%; margin-left: 33%; margin-top: 10px">
          
         <a href="#/company/companyset"><button  class="btn btn-outline btn-lg btn-block">
               完成</button>
               </a>   
      </div>

</div>












