<link rel="stylesheet" type="text/css" href="resource/fonts/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="resource/css/simditor.css" />


<div class="container">
	<div style="width:100%;" class="text-center">
		<br/>
		<br/>
		<h1 style="font-size: 44px;margin-top: 30px">
                    修改公司信息
        </h1>
      
	</div>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form class="form-horizontal form-signup">
                <div class="form-group">
                    <input type="textfield" class="form-control txt-large" placeholder="公司名称(必须输入)" ng-model="company.name">
            
                </div>
                <p class="text-danger"  ></p>
                <div class="form-group">
                    <input type="textfield" class="form-control txt-large" placeholder="公司地址" ng-model="company.address">
                </div>
              
                <div class="form-group">
                    <input type="text" class="form-control txt-large" id="phone" placeholder="公司电话"  ng-model="company.tel">
					</div>
                <p class="text-danger" ng-bind="errorMsg.mobile" ></p>
                <div class="form-group">
              <input type="textfield" class="form-control txt-large" placeholder="公司网址" ng-model="company.website">
 </div>
      <div class="form-group">
	      <a>详细信息</a>
	      <textarea simditor minheight="500px" style="width: 100%"   operation="edit" ng-model="company.description"></textarea>
      </div>
      
 
    
 <div class="btn btn-primary"  upload-button header ={{company.id}},1
    	         url="company/uploadimg" on-success="onSuccess(response)" >上传公司图片
    	          </br>
    	          </div>
    	           </br> </br>
             <div class="btn btn-primary"  upload-button header ={{company.id}},2
    	          url="company/uploadimg" on-success="onSuccess(response)" >上传公司logo
    	          
    	          </div>
    <p class="text-danger" ng-bind="errorMsg.general" ></p>
                <div class="form-group">
                <a href="#/company/companyset" class="btn btn-outline btn-lg btn-block">
                      返回
                      </a>
                </div>
                <hr/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="modify()">
                            确定修改
                                       </button>
                   
                </div>
          
            </form>
        </div>
    </div>
</div>