  <link rel="stylesheet" type="text/css" href="resource/css/adminhome.css"/>
 
<!-- navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin-bottom: 0px">
		<div class="container-fluid">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span>
				</button>
				 <a class="navbar-brand" href="/" style="color:#00CC99">findFool</a>
				 <a class="navbar-brand hidden-sm hidden-xs" href="/"> findfool.com</a>
			</div>	
				
				<div class="navbar-collapse collapse">
					 <ul class="nav navbar-nav" id="leftNav">
					    <li><a href='#' id='showImportModal' data-toggle='modal'>主页</a></li>
					</ul>
				</div>
		</div>
	</div>
<div class="container-fluid adminpanel">
	
	<div class="row">
	   <!-- left bar -->
		<div class="col-md-2 adminleftbar" >
		  <ul class="nav nav-pills nav-stacked" role="tablist">
		    <li ><a href="" ng-click="showImportForm()">批量导入</a></li>
		    <li ><a href="" >试题库管理</a></li>
		    <li ><a href="" >试题管理</a></li>
		  </ul>     
		</div>
		
		
		<div class="col-md-8" >
		   <!-- batch import -->
		   <div ng-include = "'page/admin/batchimport.html'" ng-if="showImport"></div>
			<!-- <input type="file" name="file" onchange="angular.element(this).scope().uploadFile1(this.files)" ng-show="showImport" /> -->
		</div>
		
</div>	

<script src="resource/js/controller/adminController.js"></script>	
	


